[2016-08-18 22:14] ajayinfoworks opened #1 "Test case is failing"
Followed these steps:

cd ~/source
git clone git@github.com:jcustenborder/connect-utils.git
cd connect-utils
mvn clean install

Got this:

Failed tests:   timestampTests(io.confluent.kafka.connect.utils.data.type.JsonNodeTest): expected:<1451275679192> but was:<1451282879192>

Now trying with:

mvn install -DskipTests

[2016-08-22 05:00] jcustenborder commented on #1
Thanks @ajayinfoworks: I'm looking into this in the other repository. It looks to be a time zone issue because it works fine on my laptop which is CST but it failing after I put it on a jenkins box in UTC.

[2016-08-23 03:23] jcustenborder commented on #1
Hey @ajayinfoworks Can you pull the repo and give it another shot? I corrected the failing test case and now I'm deploying connect-utils to maven. You no longer need to do that step.

[2016-08-23 03:23] #1 closed

[2016-08-23 18:02] ajayinfoworks commented on #1
Thanks @jcustenborder . All the Test cases passed. Seems like I no longer have to build connect-utils separately.

[2016-08-23 19:41] ajayinfoworks opened #2 "File extension is 'PROCESSING' even after file is processed"
Every time I push a file into the directory pointed to by 'input.path', it gets processed & gets moved to 'finished'. The file is renamed from 'test.log' to 'test.log.PROCESSING'. Why does it say 'PROCESSING' when processing is done?

Ideally, I am looking for a connector that will watch the 'log' directory used by log4j. As you know, log4j will start writing lines to a file in a directory. Once i

[2016-08-25 17:05] jcustenborder commented on #2
You need something that tails the log file and notices when the log has
been rotated. The scenarios I envisioned for this plugin was to handle flat
files that are typically transmitted between companies. This handles
delimited files really well. The processing file extension is to allow
multiple tasks in the same folder.

There are a couple ways we could tackle this.

1.) Set log4j to roll quicker

[2016-09-15 17:49] cjmatta opened #7 "CSVRecordProcessorConfig Group is all using the same DisplayName string"
https://github.com/jcustenborder/kafka-connect-spooldir/blob/master/src/main/java/io/confluent/kafka/connect/source/SpoolDirectoryConfig.java#L176-L189

Results in this:
![image](https://cloud.githubusercontent.com/assets/7782431/18560815/2cca6ac2-7b4b-11e6-91af-223309293472.png)

[2016-09-25 03:51] #7 closed

[2016-09-29 14:45] datafibers opened #9 "Start connect failed with class not found"
java 1.8 conflent 3.0.0

ERROR Error while starting connector CsvSpoolDir (org.apache.kafka.connect.runtime.WorkerConnector:109)
java.lang.NoClassDefFoundError: com/opencsv/enums/CSVReaderNullFieldIndicator
        at io.confluent.kafka.connect.source.SpoolDirectoryConfig.<clinit>(SpoolDirectoryConfig.java:124)
        at io.confluent.kafka.connect.source.SpoolDirectoryConnector.start(SpoolDirecto

[2016-09-29 19:21] jcustenborder commented on #9
Hi @datafibers!

Sorry about the issue. Did you download just the .jar or did you use the tar.gz? I need to remove the .jar from the releases since it only the output. I checked the .tar.gz and it does have opencsv-3.8.jar in the output. Can you confirm you have this in your classpath?

[2016-10-27 19:35] gregroberti opened #10 ""confluent/schemaConfig-registry" is not a valid repository/tag"
$ docker-compose up
Pulling schema-registry (confluent/schemaConfig-registry:latest)...
Error parsing reference: "confluent/schemaConfig-registry" is not a valid repository/tag

[2016-11-04 20:02] jcustenborder commented on #10
Thanks @gregroberti! Curse you find and replace. I'll push a change shortly.

[2016-11-04 20:06] jcustenborder commented on #10
This is corrected.

[2016-11-04 20:06] #10 closed

[2016-11-09 17:06] gregroberti commented on #9
I ran into this issue as well, however, I resolved it by copying opencsv-3.8.jar and connect-utils-0.1.15.jar to the classpath as @jcustenborder had suggested. I think you can close this issue.

[2016-11-09 18:35] gregroberti opened #12 "Failed to reconfigure connector's tasks, retrying after backoff"
**Stacktrace**
[2016-11-09 18:31:17,052] ERROR Failed to reconfigure connector's tasks, retrying after backoff: (org.apache.kafka.connect.runtime.distributed.DistributedHerder)
java.lang.NullPointerException
        at org.apache.kafka.common.config.AbstractConfig.<init>(AbstractConfig.java:51)
        at org.apache.kafka.common.config.AbstractConfig.<init>(AbstractConfig.java:62)
        at org.a

[2016-11-09 19:01] gregroberti commented on #12
I was able to resolve this issue by removing the 'name' from the configuration when sending the POST call as well as including guava-18.0.jar in the classpath.

[2016-11-09 19:16] jcustenborder commented on #12
I'll take a look at this. I typically use [schema-registry](https://github.com/confluentinc/schema-registry) which most likely pulls in guava. Thanks for the bug report!

[2016-11-09 19:19] jcustenborder commented on #9
@gregroberti how are you deploying this? Are you building locally or are you using the installation package I upload? If you are building locally, use `mvn clean package` and copy contents of target//kafka-connect-spooldir-1.0-SNAPSHOT-package. It will contain everything.

[2016-11-09 19:28] jcustenborder commented on #12
Are you using this in your config?
[code]

[2016-11-09 19:35] gregroberti commented on #12
Yes, I'm starting up kafka-connect using these values.

[2016-11-09 20:09] jcustenborder commented on #12
Ok that makes sense! Thanks!

[2016-11-11 18:36] gregroberti commented on #9
Yes, I'm building it locally with `mvn clean package` to run in a docker container. I found that I only need the following lines in my Dockerfile:

COPY kafka-connect-spooldir-1.0-SNAPSHOT.jar /etc/kafka-connect/jars
COPY opencsv-3.8.jar /etc/kafka-connect/jars
COPY connect-utils-0.1.15.jar /etc/kafka-connect/jars

For some reason I found that I didn't need the other jar files produced in the targ

[2016-11-11 20:46] gregroberti opened #13 "Multiple task support (increasing tasks.max doesn't create additional tasks)"
Not sure if this is a bug or if this feature actually isn't implemented.. I see the configuration option `tasks.max=1` which I've tried increasing, however, I still only seem to get a single task up and running. I have also tried creating multiple instances of this connector with the same value for `input.path` but I always end up with a `NullPointerException`

{"name":"spooldir-connector-1","conn

[2016-11-17 21:43] gregroberti opened #14 "Record columns count swapped with schemaConfig columns count"
I believe that the values for record columns count and schemaConfig columns count has been reversed!

      Preconditions.checkState(this.valueParserConfig.mappings.size() == record.length, "Record has %s columns but schemaConfig has %s columns.",
          this.valueParserConfig.mappings.size(),
          record.length
      );

Found this bug while checking to see if a schema that has additional

[2017-01-04 05:30] jcustenborder commented on #14
@gregroberti Can you help me out with a test case? That would be great! The original idea didn't think about missing columns. It could work ok given we an optional schema.

[2017-01-18 16:28] cosmin33 opened #15 "PollingDirectoryMonitor.poll NullPointerException"
**Stacktrace:**
[2017-01-18 18:25:48,139] INFO Opening /home/cosmo/devel/syncrasy/KafkaConnectExample/input/temp.csv.PROCESSING (io.confluent.kafka.connect.source.io.PollingDirectoryMonitor:216)
[2017-01-18 18:25:48,168] ERROR Exception encountered processing line 1 of /home/cosmo/devel/syncrasy/KafkaConnectExample/input/temp.csv.PROCESSING. (io.confluent.kafka.connect.source.io.PollingDirectoryMo

[2017-01-20 05:59] jcustenborder commented on #15
It's complaining because the schema name is null. It's a little buried in the error message.

Try changing your `csv.schema` to include a `name` property in the json. Something like this:

[code]

`name` is the property for the value schema.
`keyName` is the property for the key schema.

This needs to be documented better.

[2017-01-31 10:18] patelliandrea opened #16 "Offset Management"
Hi, just a quick question.
I've noticed that the offset saved by kafka connect are never read, but you simply start from the first file in the directory and then move it to another folder when you finish reading it.

What happens if the connector dies after the file was moved to the other directory, but before all the records were actually sent to kafka?
Is there a nice way to guarantee that all t

[2017-01-31 10:24] patelliandrea commented on #16
Another question...
If one file is huge, e.g. millions of lines, and I'm importing it using a batch size of let's say 1000, what happens if the connector dies before the entire was processed?
Seems like that when I'll restart the connector, it'll read the entire file again, starting from the beginning, without skipping the lines that were already sent to kafka.

[2017-02-01 03:52] jcustenborder commented on #16
You're on it. It's been missing offset management for a while. I'm working on a few changes and refactors to cover this and some better schema handling. A new release will be coming soon.

[2017-02-01 15:54] patelliandrea commented on #16
Perfect, thanks. I'm working on it as well... I managed to implement the offset management but I'm struggling to implement the clean up of the folder in a nice way.

[2017-04-03 09:17] mikisseth opened #18 "Upgrade to Kafka 0.10.2.0"
The current latest release on github is based on Kafka 0.10.0.0. It would be nice to have releases for Kafka 0.10.1.0 and Kafka 0.10.2.0.

[2017-04-03 10:33] mikisseth commented on #18
A lot of work have been done on the schema refactoring branch, so it would be natural to base the release on the code here. Below you will find a rather length list of problems I've encountered with the the current schema-refactor HEAD build:

1.  Build fails with a
`[ERROR] Failed to execute goal on project kafka-connect-spooldir: Could not resolve dependencies for project com.github.jcustenborde

[2017-04-03 10:35] mikisseth commented on #18
Note that if I might be able to help with some of the stuff mentioned above, if I could get a pointer on how to proceed.

[2017-04-03 12:32] gbehrmann commented on #16
Any updates on this subject? I am investigating ways to import from an application that continually appends data to a CSV file and your connector seems like a perfect match (the application will let go of the file when it is renamed, so the automatic renaming to a .PROCESSING file is perfect). However the lack of resuming from the recorded offset is a showstopper for us.

[2017-04-07 12:29] gunbuster135 opened #19 "Separator char config"
Hi I'm using the connect REST-API to configure this plugin. Everything seems to be going fine, until when I try to set this setting

"csv.separator.char":";"

It seems the plugin is unabled to parse that?

[2017-05-05 04:09] #9 closed

[2017-05-05 04:18] jcustenborder commented on #16
@gbehrmann Missed your comment. I've had this pull out there but haven't received much feedback. #17

[2017-05-05 04:41] jcustenborder commented on #18
@mikisseth Thanks for the feedback!

I'll take a look at this. Thanks!

I'll take a look at this. Thanks!

I can look at doing something like this in the future. For now I have my own build process that runs on jenkins in my home lab. It's what builds the RPM, DEB, and docker images.

How were you using this? I was thinking about introducing this functionality again through an additional tool. For

[2017-05-15 05:52] mikisseth commented on #18
@jcustenborder

Sounds good :-)

Regarding the Avro schema generation functionality, I was hoping to make it as easy possible for a (non-technical) user of a Kafka + Connect server + [Connect UI](https://github.com/Landoop/kafka-connect-ui) to add a new ` kafka-connect-spooldir` source connector through the UI without having to understand how to defining and registering a Avro schema (and still ge

[2017-05-24 19:55] jcustenborder commented on #18
@mikisseth Can you take another look?

I gotta say I really don't like the auto schema generation feature. My point of this connector was hoping to get people to import strongly typed data into kafka. Man I want an integer to be an integer. ;) But whatever.

I added the feature back. It's enabled with the `schema.generation.enabled` configuration setting. As my sign of protest it defaults to `fals

[2017-05-25 10:38] mikisseth commented on #18
Some initial feedback.

With the JFairy dependency gone I compile without problems.
The `schema.generation.enabled` option was exactly what I was hoping for my rather simplistic initial step to configure a connector supported by a (draft) schema :-).

The tests are still failing with:
`value() does not match.: last_login does not match. ==> expected: <Thu Oct 01 00:29:03 GST 2015> but was: <Wed Se

[2017-06-04 13:36] selvakumarEsra opened #20 "Multiple files with different schema in same directory"
how to support a folder with different type of files with different schema? can it be achieved with configuration change?

[2017-06-05 06:12] selvakumarEsra opened #21 "kafka-connect-spooldir in public maven central repository"
is there any plan put the kafka-connect-spooldir jar into public maven central repository?

[2017-06-10 16:55] jcustenborder commented on #21
@selvakumarEsra I wasn't planning on it. What use case were you thinking of?

[2017-06-10 16:58] jcustenborder commented on #20
Do the files have a different naming scheme? Something like users001.csv? You could change the file name pattern to only accept this file name.

[2017-06-14 03:48] mikisseth commented on #18
Guess this can be closed, as the upgrade was part of the #17 merge.

[2017-06-14 03:59] mikisseth opened #22 "Fix connectors validate method"
The validate method on a Kafka connector should provide validation of the provided settings and produce a configuration with error messages about any invalid settings. The current implementation contains the follow problems:

1. A empty settings will cause a NullPointerException for undefined paths to be thown in the `WritableDirectoryValidator`.
1. The `WritableDirectoryValidator` will generate s

[2017-06-14 04:56] mikisseth commented on #22
The reason I'm running into this, is that the Landoop Connect UI uses the validate functionality API to help the user build the Connector configuration. Here robust and informative validate are crucial.

[2017-06-14 04:57] mikisseth commented on #22
I'm working on this and will hopefully have a pull request ready shortly.

[2017-06-16 16:18] jcustenborder commented on #18
Thanks!

[2017-06-16 16:18] #18 closed

[2017-06-16 16:19] jcustenborder commented on #16
This was fixed with #17.

[2017-06-16 16:19] #16 closed

[2017-06-16 16:19] jcustenborder commented on #15
This was fixed with #17.

[2017-06-16 16:19] #15 closed

[2017-06-16 16:19] jcustenborder commented on #14
This was fixed with #17.

[2017-06-16 16:19] #14 closed

[2017-06-16 16:20] jcustenborder commented on #13
This is by design. If you are running distributed I can't ensure that each task is pulling a single file.

[2017-06-16 16:20] #13 closed

[2017-06-16 16:20] #12 closed

[2017-07-03 15:17] selvakumarEsra commented on #21
to pull the kafka-connect-spooldir for corporate use, it is better to add in public maven repo.

[2017-07-08 19:34] jcustenborder commented on #21
All of my connectors are now being published to maven as well.

[code]

[2017-07-08 19:34] #21 closed

[2017-07-22 03:46] #22 closed

[2017-07-22 03:47] jcustenborder commented on #20
I haven't heard back from you on this. Open it again if the suggestion I gave you does not work.

[2017-07-22 03:47] #20 closed

[2017-08-02 20:35] chenchik opened #26 "Failed to Find Class 500 Error"
I am trying to add this plugin connector to my current instance of kafka connect. I'm using Openshift and am running Kafka Connect using the docker image below (it's basically an older version of confluentinc/cp-docker-images except it has the jar files from the previously mentioned GitHub and the hdfs connector jar is upgraded) :

https://hub.docker.com/r/chenchik/custom-connect-hdfs/

I run kafk

[2017-08-09 13:19] convoi opened #27 "Reading gzipped files"
It would be great to have support for reading gzipped files.

[2017-08-09 20:10] jcustenborder commented on #26
@chenchik That basically happens when the connector is not in the classpath. I'd double check that the add command on your dockerfile isn't putting it in a subdirectory or something.

[2017-08-09 20:11] jcustenborder commented on #27
@convoi This sounds like an interesting feature. Any interest in putting together a pull request for it?

[2017-08-13 13:22] convoi commented on #27
here you go:  #28

[2017-08-24 05:43] hsm opened #29 "SpoolDirSourceConnector.validate(...) method throws IllegalStateException On empty config"
This issue is related to issue #22 . We are considering using Landoop as a way to configure and manage Kafka connectors. The Landoop UI has a nifty feature where it uses the Connector `validate` method to iteratively tell you what is wrong with the current configuration so you can fix it on the fly and in the end hopefully have a working connector.

However, Landoop UI does not expect the validate

[2017-10-02 10:35] aaitsalem opened #30 "xml version"
Hello,
Is there a version for XML ?

thx

[2017-10-16 21:13] praveengone opened #32 "Does it support multiple files in the directory"
I am raising it as an issue as i did not find comments section.

Is it having capability to read multiple different files to different topics in kafka or is it going to be always one file in the directory. Also can i use shared path URI in the input.path property value

[2017-10-24 03:25] jcustenborder commented on #30
There is nothing planned for XML at the moment. This would be a good pull request if you wanted to take a stab at it. XML is kinda of a pain. We'd have to embed xpath or something like that.

[2017-10-24 03:28] jcustenborder commented on #29
@hsm Potentially yes I would consider changing it to ConfigException. First I need to verify that ConfigException is the correct exception. Assuming it is sure.

[2017-10-24 03:28] #26 closed

[2017-10-24 03:33] jcustenborder commented on #32
@praveengone You would need to run multiple instances of the connector. Basically you use the `input.file.pattern` to setup a pattern that will match one file type and map it to a schema. You can add another connector with a different `input.file.pattern` pointing to the same directory. For example persons.csv and companies.csv. They'll have different schemas for example and you can run multiple c

[2017-10-24 03:33] #32 closed

[2017-10-24 03:39] jcustenborder commented on #29
@hsm I'm cool with this. I opened an issue in jcustenborder/connect-utils#49

[2017-10-24 03:39] #29 closed

[2017-11-02 14:48] aaitsalem opened #33 "pooling directory is too big"
Hello M. Custenborder
I think that the pooling time of the directory is too big, can reduce this time.
I have the impression that pooling is done every second ?
thx a lot

[2017-11-04 03:10] jcustenborder commented on #33
Have you tried lowering `empty.poll.wait.ms`

[2017-11-06 10:31] aaitsalem commented on #33
It works well.
thx a lot

[2017-11-06 10:31] #33 closed

[2017-11-06 10:31] #30 closed

[2017-11-14 08:35] maayansamari opened #35 "SpoolDirSourceConnectorConfig wrong precondition check to schemaGenerationEnabled"

[2017-11-14 13:28] #35 closed

[2017-12-07 16:12] chaitanyabjoshi opened #37 "Error while generating CSV schema (Documentation and Code Bug)"
Disclaimer: I am absolute dumb in maven and allied technologies and hence perfect test target for documentation :D
Now, the instructions for CSV generating schema example do not work out of the box.
Below are problems explained which I faced.
Command mvn clean package works perfectly. No problems here.
Command `export CLASSPATH="$(find target/kafka-connect-target/usr/share/java -type f -name '*.ja

[2018-01-23 00:26] jcustenborder commented on #37
Hi @chaitanyabjoshi

This is by design. These directories are required for the connector to start.

[2018-01-23 00:26] #37 closed

[2018-02-07 05:37] anuhewa opened #38 "Connector support pipe delimiter"
This connector supports " | " delimiter ?

ex:- file like below

mobile|imsi|2050160|2|14|2|xxxxxx|20160917|vvvvvv|20370101|bbbbbbbbb|1250158,1104006,1210003,xxxxxx,1106000,44444444,1103001|2000:14,3000:-4444444|

Kindly confirm

[2018-02-07 05:43] anuhewa opened #39 "input file name"
Also can we parse filename (input file )as a key while writing to  kafka topic ?

[2018-02-07 14:17] jcustenborder commented on #38
set `csv.separator.char=|`

[2018-02-07 14:17] #38 closed

[2018-02-07 14:19] jcustenborder commented on #39
no this is not supported at the moment.

[2018-02-07 14:19] #39 closed

[2018-02-07 23:18] anuhewa commented on #38
Thanks for confirmation.

Any idea on below error

[2018-02-08 04:46:02,648] ERROR WorkerSourceTask{id=CsvSpoolDir-0} Task threw an uncaught and unrecoverable exception (org.apache.kafka.connect.runtime.WorkerTask:172)
org.apache.kafka.connect.errors.DataException: testing
        at io.confluent.connect.avro.AvroConverter.fromConnectData(AvroConverter.java:77)
        at org.apache.kafka.connect.

[2018-02-07 23:23] anuhewa commented on #38
my configs as below

[root@host config]# cat connect-avro-docker.properties

bootstrap.servers=ip:9092,ip2:9092
key.converter=io.confluent.connect.avro.AvroConverter
key.converter.schema.registry.url=ip:8083
value.converter=io.confluent.connect.avro.AvroConverter
value.converter.schema.registry.url=ip:8083
internal.key.converter=org.apache.kafka.connect.json.JsonConverter
internal.value.converter=

[2018-02-08 00:52] anuhewa commented on #38
giving below error after changing to pipe

[2018-02-08 06:20:47,142] INFO Started o.e.j.s.ServletContextHandler@34614215{/,null,AVAILABLE} (org.eclipse.jetty.server.handler.ContextHandler:744)
[2018-02-08 06:20:47,164] INFO Started ServerConnector@643d3d72{HTTP/1.1}{0.0.0.0:8083} (org.eclipse.jetty.server.ServerConnector:266)
[2018-02-08 06:20:47,164] INFO Started @8348ms (org.eclipse.jetty.server

[2018-02-08 06:08] anuhewa commented on #38
when I use “csv.separator.char=| “   I am getting  below error ?

Invalid value | for configuration csv.separator.char: Not a number of type INT
You can also find the above list of errors at the endpoint `/{connectorType}/config/validate`
        at org.apache.kafka.connect.util.ConvertingFutureCallback.result(ConvertingFutureCallback.java:79)
        at org.apache.kafka.connect.util.ConvertingFut

[2018-03-23 13:36] martinplank opened #40 "Incorrect offset handling of reprocessed JSON files"
When reprocessing JSON file (e.g. because of an error), the offset of last processed record is looked up in Kafka in order to skip already processed lines. But there's a bug in line skipping code: One more line should be skipped.

I believe that there should be `<=` comparison (offset numbering is zero-based).

https://github.com/jcustenborder/kafka-connect-spooldir/blob/f14906f3fd81a79e7eb64dd0bf

[2018-03-27 16:32] #40 closed

[2018-03-27 16:33] jcustenborder commented on #40
thanks @martinplank!

[2018-03-29 23:39] IDispose opened #41 "Allowing column skipping"
I am planning to implement column skipping. Will add a config that will allow skipped column numbers to be specified as a comma separated list. In the CSVSourceTask I’ll skip column in the for loop where the avro message is constructed.

Let me know if this was considered and not implemented for a reason.

[2018-04-02 19:35] jcustenborder opened #42 "Connector Hub Support"
jcustenborder/kafka-connect-parent#10

[2018-04-03 00:08] jcustenborder commented on #41
@IDispose Do you need to implement anything? What happens if you don't specify the columns in the schema?

[2018-04-03 00:26] #42 closed

[2018-04-03 00:44] IDispose commented on #41
@jcustenborder well, actually, I didn't think that was an option. I am not a java programmer but I am not sure how the Task would know what columns to skip. For example, in my case I need columns 2,4,6 skipped.

[2018-04-04 14:10] jcustenborder commented on #41
Do you have a schema you are trying to use?

[2018-04-04 16:02] IDispose commented on #41
@jcustenborder Here is my requirement. I am trying to process a TSV file with 11 columns but I am only interested in columns 0,1,5,6 for the topic.

The current implementation allows to ignore columns at the end. For example, if my schema only specifies 5 fields, the last 6 columns will be ignored. However, in my case, I want to skip certain columns.

I have implemented the feature and wanted to f

[2018-04-04 16:26] jcustenborder commented on #41
I am not sure what you needed to implement. The connector already has
support for this. It's one of the test cases.

On Wed, Apr 4, 2018, 11:02 AM IDispose <notifications@github.com> wrote:

[2018-04-04 16:43] IDispose commented on #41
@jcustenborder I am surely missing something here. How would I specify the columns I want to skip? Is that via the schema? Using the IsOptional flag?

[2018-04-05 18:48] cyborg-girl opened #45 "kafka-run-class: command not found"
`kafka-run-class com.github.jcustenborder.kafka.connect.spooldir.SchemaGenerator -t csv -f src/test/resources/com/github/jcustenborder/kafka/connect/spooldir/csv/FieldsMatch.data -c config/CSVExample.properties -i id`    fails and gives the error:
`kafka-run-class: command not found`

I'm using Kafka version 1.0.0.

`export CLASSPATH="$(find target/kafka-connect-target/usr/share/java -type f -name

[2018-04-08 21:03] cricket007 commented on #45
Is the Kafka bin folder on your PATH?

`command not found` is just a shell error, not with this connector or the CLASSPATH

[2018-04-13 12:18] stargrey102 opened #46 "Maven BUILD FAILURE due to test failures"
hi, When run "mvn clean package" I got this error.   Could you please take a look?
Thank you very much
[code]

[2018-04-16 10:03] prem1578 opened #47 "can this be used in a non docker environment"
I have compiled the files and want to run the same on a standalone system where kafka is installed. Please provide me the steps in details including where to configure the default settings etc

[2018-04-20 19:38] jcustenborder commented on #46
@HanzhiWang1105 I have no clue what's going on here. I can't reproduce it because all of the tests are passing on my workstation. It could be a Mac vs Windows path issue. I think you might have cut off the part that has the actual test errors. Do you mind running it again?  In the meantime here is a link to the [latest release](https://github.com/jcustenborder/kafka-connect-spooldir/releases/lates

[2018-04-20 19:52] jcustenborder commented on #41
@IDispose The connector already has support for this if you have a delimited file with a header. You are required to specify a schema when starting the connector. All you need to do is leave out the columns that you do not want.

[2018-04-21 02:13] #27 closed

[2018-04-30 11:27] geopet85 opened #49 "Cannot parse date"
I am using v1.0.24 of the library with Kafka connect 4.0.0.

I am trying to parse a csv with values:

`1,2018-03-12,2018-03-12,1200,A,B,2018-04-30T22:00:51.000Z`

and schema:

`{"name":"Test","type":"STRUCT","isOptional":false,"fieldSchemas":{"id":{"type":"INT64","isOptional":false},"created":{"name" : "org.apache.kafka.connect.data.Date","type" : "INT32","version" : 1,"isOptional" : true},"update

[2018-05-01 01:10] jcustenborder commented on #49
@geopet85 Take a look at [parser.timestamp.date.formats](https://jcustenborder.github.io/kafka-connect-documentation/projects/kafka-connect-spooldir/sources/SpoolDirCsvSourceConnector.html#parser-timestamp-date-formats). This allows your to specify date formats for the parser to try. The one you are using is not in the default of `yyyy-MM-dd'T'HH:mm:ss", "yyyy-MM-dd' 'HH:mm:ss`

[2018-05-01 01:10] #49 closed

[2018-05-01 01:11] jcustenborder opened #50 "Add support for extended log format."

[2018-05-02 14:02] #50 closed

[2018-05-02 14:05] jcustenborder opened #52 "Support a configurable cleanup policy."
The connector currently moves files that were read successfully to a different folder. There are a lot of use cases where we would prefer to delete the file. There are also use cases where we would want to leave the files in place. Add support for None, MoveToFinished, or Delete.

[2018-05-02 14:57] IDispose commented on #41
@jcustenborder what about the case where my files does not have a header?

[2018-05-02 21:51] #52 closed

[2018-05-02 22:06] jcustenborder commented on #41
@IDispose Is this what your use case is?

[2018-05-03 14:03] IDispose commented on #41
@jcustenborder Yes, that use case is what prompted me to work on the changes.

[2018-05-03 15:08] jcustenborder opened #54 "Cleanup Markdown in RST documentation."

[2018-05-25 01:47] Chintanvpatel commented on #38
Hello @anuhewa

You have to provide ASCII value for "|" character.

[2018-05-25 02:59] jcustenborder commented on #38
@anuhewa Try `csv.separator.char=124`

[2018-06-15 12:54] schaubce commented on #46
Hi @jcustenborder I got this issue as well - let me know if you need to see more of the stack trace

`Results :

Failed tests:
  SpoolDirCsvSourceConnectorTest.startWithoutSchemaMismatch:81 Unexpected exception type thrown ==> expected: <org.apache.kafka.connect.errors.DataException> but was: <java.lang.NoClassDefFoundError>
  SpoolDirJsonSourceConnectorTest.startWithoutSchemaMismatch:80 Unexpecte

[2018-06-22 19:52] jcustenborder opened #56 "bump version"

[2018-06-25 12:25] #46 closed, assigned to nobody

[2018-06-25 16:40] HanzhiWang1105 opened #58 "partition assignment strategy"
Hi,
If I want send message to Partition on a round-robin method, how should I configure key.schema?

For example, I have 600,000 messages to a topic with 6 partitions, I want each partition has balanced number of message, 100,000 per partitions. However, with the example data you provided, if I use "id" as key, all messages are sent to one partition and other 5 partitions have zero message.

Thank

[2018-07-12 00:09] FWDVladM commented on #41
As currently implemented, is it possible to have a different number of columns in different rows?

Example:
id, name, department, email
1, bob smith
2, john perez, it
3, some name, accounting, sn@test.com

Thanks!

[2018-07-12 01:59] FWDVladM opened #59 "Extended ASCII charcters not allowed as separators"
Character 254 not allowed/ignored as separator (it appears that any character with ASCII code above 127 is getting ignored and results in error:

org.apache.kafka.connect.errors.ConnectException: java.lang.ArrayIndexOutOfBoundsException: 1
	at com.github.jcustenborder.kafka.connect.spooldir.SpoolDirSourceTask.read(SpoolDirSourceTask.java:298)
	at com.github.jcustenborder.kafka.connect.spooldir.Spo

[2018-07-30 11:51] GHGautamGH opened #60 "Build Error"
Hi,

My environment is as below --

OS: RHEL 6.6
Maven: 3.5.4
Kafka: Confluent 3.2.1
Java: 1.8

When I run 'mvn clean package' I get a lot of 'java.lang.NoClassDefFoundError' and finally the below --

Failed tests:
  SpoolDirCsvSourceConnectorTest.startWithoutSchemaMismatch:81 Unexpected exception type thrown ==> expected: <org.apache.kafka.connect.errors.DataException> but was: <java.lang.NoClass

[2018-07-31 18:12] liko9 commented on #60
I believe this connector has a minimum requirement of Confluent 4.1 or higher.  (Apache Kafka 1.1 or higher)

[2018-08-05 22:35] sharafula opened #61 "java.lang.NoClassDefFoundError: org/apache/kafka/connect/header/Header"
Hello when I start the connector I get the following error:

`java.lang.NoClassDefFoundError: org/apache/kafka/connect/header/Header
	at com.github.jcustenborder.kafka.connect.utils.jackson.HeaderSerializationModule.<init>(HeaderSerializationModule.java:37)
	at com.github.jcustenborder.kafka.connect.utils.jackson.ObjectMapperFactory.<clinit>(ObjectMapperFactory.java:36)
	at com.github.jcustenborde

[2018-08-07 09:28] ngwwm commented on #60
I got the same error on Windows. Did I miss anything?

[2018-08-07 10:37] GHGautamGH commented on #60
@ngwwm -- are you using Confluent 4.1 or higher?

[2018-08-08 02:52] ngwwm commented on #60
From the README, it just mentions to do a 'mvn clean package'. I though it would grap the appropriate kafka version. So, could you let me know how to build the package with Confluent 5.0?

[2018-08-16 21:14] asifakb opened #62 "kafka-connect .DataException: Found null value for non-optional schema"
Team,

My scheme definition seems to be correct however spooldir connector unable to load the data into Topic queue. I keep on getting following error.

 [2018-08-16 20:56:34,676] ERROR Error encountered in task csv-raw-flight-data-connector-0. Executing stage 'KEY_CONVERTER' with class 'io.confluent.connect.avro.AvroConverter'. (org.apache.kafka.connect.runtime.errors.LogReporter)
connect

[2018-08-20 19:04] eksantrik opened #63 "<<Exception in thread "main" java.lang.NoClassDefFoundError>> when I try to start kafka connect"
Hello,

I downloaded kafka-connect-spooldir-1.0.31 (https://github.com/jcustenborder/kafka-connect-spooldir/releases/download/1.0.31/kafka-connect-spooldir-1.0.31.rpm) and installed it on CentOS 7 (rpm -i kafka-connect-spooldir-1.0.31.rpm).

When I start the connect-standalone.sh, I am getting the following:

[root@kafka01 kafka-connect-spooldir]# /opt/kafka_2.11-1.0.0/bin/connect-standalone.sh co

[2018-08-20 19:17] eksantrik commented on #63
The reason I chose this way is that I received a bunch of failures when I downloaded the source code from git (git clone https://github.com/jcustenborder/kafka-connect-spooldir.git) and executed "mvn clean package".

[2018-09-11 18:55] asifakb opened #64 "Appending double quotes " in the key field."
I'm using "connector.class": "com.github.jcustenborder.kafka.connect.spooldir.SpoolDirJsonSourceConnector" class for my connector and loading the sample json data as follows into a Kafka Topic.  The key for the topic is 'feature'. However when this data being loaded into Kafka topic, I see an additional " ( double quotes ) character only when the feature key contains the value crs_dep_time=XXX.

I

[2018-09-17 08:28] sergeiwaigant opened #65 "Namespace in Schema"
Hi there,

we are using that connector for uploading several CSVs to Kafka as AVRO data.
When the connector initially consumes a file, it generates the Schema and create it in the Schema Registry.
The problem now is, that all schemas has the same namespace "com.github.jcustenborder.kafka.connect.model".

We consume the messages from multiple topics in one Java application and we have problems deal

[2018-09-20 15:29] martindupond commented on #60
Hello,
I got the same error with the following configuration:
Maven 3.5.4
Confluent 5.0.0
Debian 9
Java 1.8
using:
~/confluent-5.0.0/plugin/kafka-connect-spooldir$ mvn -X clean package |tee kafka-connect-spooldir_build-X_20180920.log

some error messages:

...
sept. 20, 2018 4:53:42 PM org.junit.jupiter.engine.discovery.JavaElementsResolver resolveClass
AVERTISSEMENT: Class 'com.github.jcustenbord

[2018-09-20 18:12] GHGautamGH commented on #60
Hi,

This is what I did to bypass the errors --

1) Added the below to the end of <dependencies> in pom.xml --

<dependency>
    <groupId>org.apache.kafka</groupId>
    <artifactId>connect-api</artifactId>
    <version>2.0.0</version>
</dependency>
<dependency>
    <groupId>org.apache.kafka</groupId>
    <artifactId>connect-transforms</artifactId>
    <version>2.0.0</version>
</dependency>

2) Bui

[2018-09-20 18:17] GHGautamGH commented on #60
Re-posting the dependencies to be added to pom.xml as the formatting was missed --

[code]

[2018-10-01 12:08] vilterpanitz opened #66 "When isOptional is true, in an INT32 field, it cause parse exception if empty"
Hi there,

I have configured my value schema with one field as Optional true and INT32 type. When it attempts to read my CSV, it blows up and exception while parsing empty '' into Integer. It might be my understanding around it, but I was assuming that when one field is Optional true it may, or may not be filled with some value.
`  "SomeIntegerValue": {
      "isOptional": true,
      "type": "INT

[2018-10-12 04:04] jcustenborder commented on #66
@vilterpanitz Do you have a full call stack and repro?

[2018-10-12 04:06] jcustenborder commented on #65
@sergeiwaigant The best thing for you to do is pass in your own schema. This allows you to use whatever name you want. Take a look at `key.schema` and `value.schema`.  This can be used to generate a starting point. https://github.com/jcustenborder/kafka-connect-spooldir#csv

[2018-10-12 04:06] #65 closed

[2018-10-12 04:09] jcustenborder commented on #63
The best advice I can give you is to install your connectors to a centralized place and use plugin path to load them. My rpms install to `/usr/share/kafka-connect` and you can configure `plugin.path` to load from there. If you are building for source you need to make sure all of the dependencies are deployed as well.

[2018-10-12 04:09] #63 closed

[2018-10-12 04:10] jcustenborder commented on #61
@sharafula This has been compiled against a later version of the Kafka Connect api. You should use a newer connect worker.

[2018-10-12 04:10] #61 closed

[2018-10-12 04:15] jcustenborder commented on #58
@HanzhiWang1105 The easiest way would be to create a transform that sets the key to null. This will roundrobin all the data.

[2018-10-12 04:15] #58 closed

[2018-10-16 23:47] eksantrik commented on #66
I think I am having the same issue:
[2018-10-16 23:40:01,168] INFO Opening /var/ciscocmr_input/cmr_C33-EU-CL1_02_201808080305_365490.csv (com.github.jcustenborder.kafka.connect.spooldir.SpoolDirSourceTask:257)
[2018-10-16 23:40:01,169] INFO configure() - field names from header row. fields = cdrRecordType, globalCallID_callManagerId, globalCallID_callId, nodeId, directoryNum, callIdentifier, dateT

[2018-10-25 10:12] vbharghavi opened #67 "import org.apache.kafka.connect.header.Header Compile issue."
Kafka version is 0.10.0
 Compile error exists **Header cannot be resolved to be a type.**  I see that this particular class is not available in the Kafka version which i am using, Can you please tell me if this can be resolved without upgrading Kafka.

[2018-10-25 10:14] vbharghavi commented on #67
similar issue is already raised.

[2018-10-25 10:14] #67 closed

[2018-10-29 12:36] vbharghavi opened #68 "kafka version not comptabile"
Kafka version available in our environment is lower than the Kafka  used for the compilation of this source code. Can you please tell if i can still use this code by tweaking.

Error which i am getting as of now is  **Header cannot be resolved to be a type**

[2018-11-06 15:05] Guru107 opened #69 "Test failing when building"
I ran `mvn clean package` after adding these dependencies in `pom.xml`

[code]
But test failed, and got this error.

[code]

I wasn't sure what needed to be changed here. Let me know where it needs fixing, I can work on it.

[2018-11-16 14:55] jcustenborder opened #70 "Add method to import JSON without schema."

[2018-11-16 16:55] eksantrik opened #71 "Handling timestamps that are in "YYYYMMDDHHMMSS.MMM" format"
What would be the best method to handle a timestamp in "20180530143000.167" format using kafka-connect-spooldir // Kafka // Tranquility? I tried INT64 on kafka-connect-spooldir but had no luck.

I am getting the following error:
[2018-11-16 16:10:01,380] ERROR Exception encountered processing line 2 of /var/input/BW-CDR-20180531004500-2-25d3128f-218647.csv. (com.github.jcustenborder.kafka.connect.

[2018-11-18 04:09] rahulx411 commented on #69
env: RHEL 7.4; confluent Kafka 5.0.1:

Getting the same errors as above while running  mvn clean package.
Pl. advise.
[code]

[2018-11-19 12:41] Ehmeed opened #72 "File processing fails in the middle"
Sometimes when I copy new file into connectors directory, it will process only batch.size * N records, not the whole file (eg only 2000 records from 8347 records).
Also there is empty *.PROCESSING file created besides the original file.
I am running two spooldir connectors looking into same directory for different file pattern.

[2018-12-02 19:07] Odyno commented on #60
Hello,
I got the same error with the following configuration:
* Code Tag: 1.0.31
* Apache Kafka (2.11) 0.10.2.2
* Apache Maven 3.6.0 (97c98ec64a1fdfee7767ce5ffb20918da4f719f3; 2018-10-24T18:41:47Z)
* Java version: 1.8.0_171, vendor: Oracle Corporation, runtime: /usr/lib/jvm/java-8-openjdk-amd64/jre
* Default locale: en, platform encoding: UTF-8
* OS name: "linux", version: "4.15.0-39-generic", arc

[2018-12-02 19:11] Odyno commented on #60
sorry, before added the https://github.com/jcustenborder/kafka-connect-spooldir/issues/60#issuecomment-423282728  I'm in to #69

[2018-12-02 19:18] Odyno commented on #69
The same error with the following configuration :
* Code Tag: 1.0.31  + Missing Dependecy
* Apache Kafka (2.11) 0.10.2.2
* Apache Maven 3.6.0 (97c98ec64a1fdfee7767ce5ffb20918da4f719f3; 2018-10-24T18:41:47Z)
* Java version: 1.8.0_171, vendor: Oracle Corporation, runtime: /usr/lib/jvm/java-8-openjdk-amd64/jre
* Default locale: en, platform encoding: UTF-8
* OS name: "linux", version: "4.15.0-39-gene

[2018-12-13 10:52] kaiwaehner opened #73 "Maven build not working on Mac with Java 8 (test failures)"
I saw the other older issues where people used e.g. Windows.

I am on a Mac with Java 8. I also cannot to a "mvn clean package", getting errors:

[code]

[2019-01-18 15:20] brary commented on #73
Hi @kaiwaehner,

Were you able to resolve this, I am facing the same issue. Is there any alternative for csv source connector if this didn't.

Thanks.

[2019-01-19 06:17] MarkC0x commented on #73
I got those same messages on my Mac, but bypassed the test errors for now by running:

`mvn clean package -DskipTests`

Cheers

[2019-01-21 04:58] brary commented on #73
Thanks @MarkC0x for the response. The jar which is built after package still shows this issue-

[2019-01-21 10:26:29,819] INFO Loading plugin from: /Users/nsb000c/Documents/tools/kafka_2.11-1.0.0/libs/kafka-connect-spooldir-1.0-SNAPSHOT.jar (org.apache.kafka.connect.runtime.isolation.DelegatingClassLoader:179)
Exception in thread "main" java.lang.NoClassDefFoundError: com/github/jcustenborder/kafk

[2019-01-22 23:12] jcustenborder commented on #68
You need to use a newer version of Kafka Connect. You should be able to run a 2.0.0 kafka connect against a 0.11.0.0 broker.

[2019-01-22 23:12] #68 closed

[2019-01-22 23:17] #56 closed

[2019-01-22 23:17] #60 closed

[2019-01-22 23:17] #69 closed

[2019-01-22 23:17] #70 closed

[2019-01-22 23:17] #73 closed

[2019-01-28 09:47] brary opened #75 "Using Array in value.schema"
I want to send an Array in one of the fields of Value.schema. Is there any way to do that? It works if I write: value.schema={"name" : "display-vavbab","type" : "STRUCT","isOptional" : false,"fieldSchemas" : {"top10items" : {"type" : "STRING","isOptional" : false}}} , But I want the type of "top10items" to be an array.

[2019-02-04 22:17] eksantrik opened #76 "Some float64 values in CSV files show up as scientific notation in Kafka topic"
Hello folks,

My kafka-connect import from CSV to Kafka mostly works except this specific column called CCR. I defined it as "CCR":{"type":"FLOAT64","isOptional":true} in values section. This value mostly varies between 0 and 1. I noticed that the value shows up as X.0E-4 when it is 0.000X. For example, when 0.0004 gets imported to Kafka, it becomes 4.0E-4. How can I make sure the value in Kafka i

[2019-02-04 23:09] lhoshid opened #77 "csv.separator.char=0 does not work"
Hi,
I can successfully use the kafka-connect-spooldir when there is a comma used as the field delimiter (default), a pipe used as a field delimiter (where ACSII value 124) etc to read files.  When I try to use the connector to read a file which has a NUL field delimiter (e.g. the ASCII for NULL is: 0) as the cvs.separator.char, I get a java null pointer exception.    I have a file with Java Null c

[2019-02-05 14:10] jcustenborder opened #78 "Updated dependencies for CVEs"

[2019-02-06 02:54] #78 closed

[2019-02-06 02:56] jcustenborder commented on #76
Are you using the JsonConverter? Basically what we're doing under the hood is parsing the text to a float of `0.0004`. This is placed in a struct and then handed off to the converter. What is most likely happening is the converter is then writing this data like this.

[2019-02-06 02:57] eksantrik commented on #76
Yes, I am using the JSON converter. Is there any fix for this?

[2019-02-06 02:58] jcustenborder commented on #76
This is something that should be handled in AK.

[2019-02-06 03:01] jcustenborder commented on #76
I added a jira for it [KAFKA-7900](https://issues.apache.org/jira/browse/KAFKA-7900)

[2019-02-06 03:02] eksantrik commented on #76
Thank you

[2019-02-09 09:05] Rkregfor commented on #49
I have the same question. I have dates in format dd.MM.yyyy in my csv and trying to parse them using schema:

[code]

as part of connector config

[code]

Here is example of CSV

[code]

And I get following exception:
[code]

Do you know what I am doing wrong, maybe scheme is incorrect? I am using parser.timestamp.date.formats=[dd.MM.yyyy, yyyy-MM-dd'T'HH:mm:ss, yyyy-MM-dd' 'HH:mm:ss] option

[2019-02-14 15:30] anastath opened #81 "Adding spooldir as plugin to kafka-connect raises java.lang.NoClassDefFoundError Exception"
Hi all,
Thank you for the connector, I'm in the process of evaluating/testing it. My goal is to use it as a plugin to Kafka connect so as to create a new connector of this type
`connector.class=com.github.jcustenborder.kafka.connect.spooldir.SpoolDirJsonSourceConnector`
To set up my environment, I used kafka, zookeeper and kafka-connect docker images I pulled from docker hub. I also use docker com

[2019-03-01 17:56] jcustenborder commented on #81
You need to include all of the dependencies and not just the jar. Look at the zip output.

[2019-03-01 17:56] #81 closed

[2019-03-01 17:57] jcustenborder commented on #77
Can you give me a stack trace?

[2019-03-01 17:59] jcustenborder opened #82 "Add support to read new line delimited files."

[2019-03-04 22:12] lhoshid commented on #77
Hi Jeremy, I get an NullPointerException.  Thanks!  Lisa
[cid:image002.png@01D4D294.332A4CF0]

From: Jeremy Custenborder <notifications@github.com>
Sent: Friday, March 1, 2019 9:58 AM
To: jcustenborder/kafka-connect-spooldir <kafka-connect-spooldir@noreply.github.com>
Cc: Hoshida, Lisa <lisa.hoshida@intel.com>; Author <author@noreply.github.com>
Subject: Re: [jcustenborder/kafka-connect-spooldir]

[2019-03-14 15:07] lhoshid commented on #77
Hey Jeremy, please let me know if you need any other info!  Thanks!  Lisa

From: Hoshida, Lisa
Sent: Monday, March 4, 2019 2:12 PM
To: 'jcustenborder/kafka-connect-spooldir' <reply@reply.github.com>; jcustenborder/kafka-connect-spooldir <kafka-connect-spooldir@noreply.github.com>
Cc: Author <author@noreply.github.com>
Subject: RE: [jcustenborder/kafka-connect-spooldir] csv.separator.char=0 does no

[2019-03-14 17:23] jcustenborder commented on #77
The callstack didn't come through but I think I have a repro. Does this look like the callstack?
[code]

[2019-03-14 17:41] lhoshid commented on #77
Hi Jeremy, copied the error and pasted in this email below since the screen shot did not come thru.
FYI – I do have the csv.separator.char=0 defined in the connector.class=com.github.jcustenborder.kafka.connect.spooldir.SpoolDirCsvSourceConnector so I do not get the error you sent below.

  *   Here is an example of the null separator in the input file [cid:image002.png@01D4DA52.82AB39E0]

Here is

[2019-03-15 14:38] jcustenborder opened #83 "Add support for the RFC4180Parser"

[2019-03-15 15:01] #77 closed

[2019-03-15 15:01] #82 closed

[2019-03-15 15:01] #83 closed

[2019-03-15 15:01] #76 closed

[2019-03-15 15:04] jcustenborder commented on #75
Hi @brary!

Sorry about the delay. I missed you opening this issue. What format is this? If the files are JSON then this is pretty easy to do. If the files are CSV there isn't an easy way to do this in the connector. It would be really easy to do this in a single message transformation. You could use this to parse the file most of the way there, then use a SMT to split the field by whatever delimi

[2019-03-15 15:04] #75 closed

[2019-03-15 15:06] jcustenborder commented on #72
It would be good to understand what exception you are seeing. The connector will fail part way through if it can't parse the data.

[2019-03-15 15:08] jcustenborder commented on #71
Did you try this? sorry for the delay in responding.
[code]

[2019-03-15 15:13] jcustenborder commented on #66
@vilterpanitz @eksantrik Have you all tried setting [csv.null.field.indicator](https://github.com/jcustenborder/kafka-connect-spooldir#csvnullfieldindicator) to `BOTH` or `EMPTY_QUOTES`

[2019-03-15 15:13] #66 closed

[2019-03-15 15:15] jcustenborder commented on #64
I think you would want to convert key to a string using a SMT. What converter are you using? If this is still an issue please reopen.

[2019-03-15 15:15] #64 closed

[2019-03-15 15:22] jcustenborder commented on #59
If you want to give this an additional try with the new RFC8140 support this might help. Try setting `csv.rfc.4180.parser.enabled=true`. If this is still an issue please reopen

[2019-03-15 15:22] #59 closed

[2019-03-15 16:45] lhoshid commented on #77
Thank you!  looks like it is working!  Will test some more.  Lisa

From: Jeremy Custenborder <notifications@github.com>
Sent: Friday, March 15, 2019 8:01 AM
To: jcustenborder/kafka-connect-spooldir <kafka-connect-spooldir@noreply.github.com>
Cc: Hoshida, Lisa <lisa.hoshida@intel.com>; Author <author@noreply.github.com>
Subject: Re: [jcustenborder/kafka-connect-spooldir] csv.separator.char=0 does n

[2019-03-16 07:30] Ehmeed commented on #72
I don't think it's an issue with parsing, because I don't see any exception logged and if I remove the file, remove the *.PROCESSING file, and copy the original file into connectors directory, it will load it without a problem.

[2019-03-16 16:55] asifakb commented on #64
Sorry I forgot to update this issue earlier. It was resolved using SMT transformation as the raw data stored was of STRUCT type. We needed SMT on top of it to get the keys data correctly.

[2019-03-19 14:05] sirishankar opened #85 "Could not parse '2001-01-01' to java.util.Date"
I get the following error (at the bottom) with dates (time and timestamp as well). Am I missing something here? appreciate your help. thx

### configuration
[code]

### csv file content
[code]
### error
[code]

[2019-03-20 20:12] jcustenborder opened #86 "Bump parent to 2.1.1 and extend documentation."

[2019-03-20 22:54] #86 closed

[2019-04-15 12:46] mscaldas2012 commented on #49
Hi there... Same issue here.

Hans anyone found a solution?

thanks,

[2019-04-15 20:58] schroedermatt opened #88 "Standardize topic config to kafka.topic"
Other connectors utilize the `kafka.topic` config.

Conform this connector's config to use this format as well.

[2019-04-15 21:04] schroedermatt commented on #88
Got this minor fix on a local branch but am having auth issues pushing up to a branch on origin..

[2019-04-23 17:09] schroedermatt commented on #88
no longer needed.

[2019-04-23 17:09] #88 closed

[2019-04-24 09:20] graham2071 opened #91 "Release last versions"
Hello, last published version on maven central repository is 1.0.31. Do you plan to release new versions ? The latest 1.0.37 would be great.

Thanks for your work.

[2019-04-25 08:09] graham2071 commented on #72
Same issue here. I have also a lot of different connectors.
My guess is that when adding the connectors, a rebalance is triggered. The SpooldirCsvSourceTask is stopped, but it does not remove the PROCESSING file. When the task restarts, the files are then skipped.

[2019-04-25 13:09] jcustenborder commented on #72
@graham2071 That is an interesting idea. Connector rebalancing could cause something like this to happen. Maybe we could look at closing the existing file and removing the .processing file when the connector restarts.

[2019-04-25 13:10] jcustenborder commented on #91
Hi @graham2071 I've been releasing the connector here. https://www.confluent.io/connector/kafka-connect-spooldir/

[2019-05-02 16:00] xs005 opened #93 "halt.on.error=false doesnt' work"
Hi Jeremy, I find the setting of halt.on.error=false doesn't work in the SpoolDirCsvSourceConnector. I have tried several times, the PROCESSING file was not deleted, and the new file cannot be ingested. The whole connector was in halt, and I had to force update the docker container to make it work again.

After I force updated the container, new PROCESSING were generated for new files, but the old

[2019-05-03 17:00] xs005 commented on #93
It seems the problem is the connector cannot delete PROCESSING files properly. I use a script to clean dead PROCESSING files, and it works very well.

[2019-05-20 05:58] KristofferHumle opened #94 "Include source file name for line delimited connector"
When importing raw data in a line-by-line fashion it is very likely that validation and further processing will reveal errors in the underlying data.

Given a false record it would be very helpful with a link to the origin input file. With this information it would be possible to trace back errors to the actual source and fix root cause.

Considering the line delimited connector one possible solut

[2019-05-20 17:34] jcustenborder commented on #94
If we included this as a header would that work for you? I would prefer not to alter the payload of the body.

[2019-05-20 17:35] jcustenborder commented on #72
#93 seems to be related as well.

[2019-05-20 19:16] #91 closed

[2019-05-23 09:12] KristofferHumle commented on #94
Currently it is not possible to access the RecordContext from the Streams DSL. Hence to use the filename one would have to use the Processor API. Having said that is seems like DSL support will be added at some point (https://cwiki.apache.org/confluence/display/KAFKA/KIP-159%3A+Introducing+Rich+functions+to+Streams).

I agree that adding the file meta data as headers is the best solution and we co

[2019-05-30 02:15] jcustenborder commented on #94
@KristofferHumle Sorry about the delay. What if we add it in a header and for your use case you can use a SMT to move the header to a field?

[2019-05-30 13:51] jcustenborder opened #95 "Add metadata about the file read to headers in the message."
* File path
* Last Modified time
* Size
* Offset in the file

[2019-05-31 16:58] jcustenborder opened #97 "Support more than one task"
Support running with more than one task. File sets should allow the user to sort as well #98.

[2019-05-31 16:59] jcustenborder opened #98 "Support allowing the user to control the sort order of the files to be processed."
It would be nice to allow the user to control the priority of files.

* Name (Default today)
* LastWriteTime
* Size

[2019-05-31 19:21] jcustenborder opened #100 "Add support for ingesting Avro files"

[2019-05-31 22:23] #93 closed

[2019-05-31 22:23] #72 closed

[2019-06-07 15:10] jcustenborder opened #105 "Add support for using BufferedInputStream wrapping FileInputStream"

[2019-06-07 16:39] jcustenborder opened #107 "Add transformation to copy metadata headers to a field on the key or value."

[2019-06-09 07:37] KristofferHumle commented on #94
That's perfect :-) I ended up using the processor api reading the header from the context anyway.

[2019-06-12 17:59] jcustenborder commented on #54
asdfasdsa

[2019-06-12 17:59] jcustenborder commented on #54
asdfasdasasdfasdf

[2019-06-23 05:43] ugoa opened #108 "Ignore me"

[2019-06-23 05:44] #108 closed

[2019-07-24 18:03] benitocm opened #111 "<Question> Does the connector tail the file?"
Hi,

I am interested in Kafka File Source connector to ingest in real time the logs generated by an application server (i.e. tail the log file and ingest it into Kafka). Please could you tell me if this connector supports that functionality?

Thanks in advance

[2019-07-24 18:15] jcustenborder commented on #111
No this connector does not tail the file. It reads the entire file. You could use [file.minimum.age.ms](https://jcustenborder.github.io/kafka-connect-documentation/projects/kafka-connect-spooldir/sources/SpoolDirCsvSourceConnector.html#file-minimum-age-ms) and roll the file every so often. For example you could roll your file every minute. This setting will look at the last write time of the file

[2019-07-24 18:15] #111 closed

[2019-07-25 08:53] benitocm commented on #111
Thanks very much for the information

[2019-08-16 12:18] xs005 opened #112 "question about batch.size?"
I got error when I try to read 100MB csv file. It shows the message is larger than the max.message.bytes. I try to change batch.size, but it doesn't work. I don't want to change the setting of broker and producer. How a message is defined in kafka-connect-spooldir? Is there a way to reduce the message size by some setting?

[2019-08-19 03:03] jcustenborder commented on #112
@xs005 That error message happens when an individual message is bigger than the max message size, it doesn't really have anything to do with the number of messages that are in flight. Is there a possibility that the message is just really large?

[2019-09-02 15:24] #112 closed

[2019-09-09 16:05] jipiccardi opened #113 "Problem building"
I am having this build error when executing mvn clean package.
<img width="960" alt="Capture" src="https://user-images.githubusercontent.com/52015938/64547198-823de300-d302-11e9-8a17-13cda6dcbf5d.PNG">

[2019-09-09 16:14] jcustenborder commented on #113
Hi @jipiccardi!

I have no clue if this will actually compile on windows. Which branch are you attempting to compile?

[2019-09-09 16:29] jipiccardi commented on #113
Thanks for the fast answer and sorry for my poor english.

I was following a tutorial to read csv files, and i need this connector so i follow the build instruction as specified in README and compile with maven.
I didnt knew that it was made for linux, so i am going to try with this.

Thanks!

[2019-09-09 18:36] jcustenborder commented on #113
It's written for java so it could work, it's just not tested on windows. All of the builds I do are on mac or linux. If you want to download it already built try [here](https://www.confluent.io/hub/jcustenborder/kafka-connect-spooldir).

[2019-09-09 20:12] jipiccardi commented on #113
i have just installed it on linux, thank you!

[2019-09-09 20:12] #113 closed

[2019-09-24 06:40] DevalNaik commented on #94
Is this functionality available now?

[2019-09-24 13:11] jcustenborder commented on #94
@DevalNaik Yes it hasn't been merged to master but it's part of the [2.0 release](https://github.com/jcustenborder/kafka-connect-spooldir/tree/2.0) which will be out soon.

[2019-09-27 19:29] crichton opened #114 "enhancement: Make InputFileDequeue overridable."
Trying to leverage some of the nice features related to file management by customizing this connector.   The capability to override the file selection process via the InputFileDequeue is one way to do it but some of the methods and fields are private or package scope making this difficult.

[2019-09-27 19:37] jcustenborder commented on #114
@crichton What problems are you running into? Changing visibility of some of this could be a possibility. Can you outline what you are trying to accomplish? Also please make sure that you are targeting the [2.0](https://github.com/jcustenborder/kafka-connect-spooldir/tree/2.0) branch. This is the latest version that will be shipped soon.

[2019-09-28 01:42] crichton commented on #114
Hi JC. I'm trying to adapt the connector to read a redshift extract.  So I'll create a new connector by creating the required class triad extending  AbstractSourceTask etc. Since the layout of a Redshift extract is more complex than what spool-dir can handle out of the box ( has sub-directors and file naming conventions based on a schema) , I need a more functional way to control how files are loc

[2019-09-28 18:43] jcustenborder commented on #114
That context makes things a bit better. Is this an in house process or a standard process for RedShift. If it's standard can you point me to some docs so I can read up on it?

[2019-10-03 19:59] crichton commented on #114
I'll see what I can find.  Its basically a database schema export with the schema placed into an json file having a table objects with column subobjects each having a data type.  These describe the headers for the tab delimited table data files. Each table data file is in a subdirectory having the name of the table.  That is why I'm trying to commandeer the spool-dir csv connector.

[2019-10-03 20:01] jcustenborder commented on #114
That would be good to understand. I'd love to see what we can do to assist you on this one. Off the top of my head I would want to use the json file as a control file but from there we'd need to do something around the other files. If spooldir isn't the right path, I'm happy to give you guidance on where to go next.

[2019-10-03 22:07] crichton commented on #114
Yes. I'm halfway through coding this using the schema file.  Its a learning management system called lmsCanvas.  So the documentation is fairly fragmented, but [here](https://portal.inshosteddata.com/docs/api) and [here](https://portal.inshosteddata.com/docs) are 2 spots with info.   They seem to provide tools to import to redshift, so its not exactly a redshift 1 to 1 import.  I think redshift im

[2019-10-08 14:16] ashutakGG opened #115 "How to integrate Spooldir CVS connector with Schema registry?"
Hello,

The documentation says "If you couple this with the Avro converter and Schema Registry by Confluent, you will be able to process CSV, Json, or TSV files to strongly typed Avro data in real time."

I was not able to find any example of doing that.

I guess, that I must some kind of converter or transformer here. Could you please advice which one or should it be custom one?

[2019-10-08 14:21] jcustenborder commented on #115
Hi  @ashutakGG

The cool part about the connect framework is I don't have to think about serialization. This connector takes the CSV data and converts it to Kafka Connect structs that are strongly typed. From there it hands the data to the connect framework which uses a Converter to serialize the data. The [Avro Converter](https://docs.confluent.io/current/schema-registry/connect.html) will handle

[2019-10-08 14:21] #115 closed

[2019-10-15 08:21] Hubbitus opened #116 "include.file.metadata absent in current options"
In https://devhub.io/repos/jcustenborder-kafka-connect-spooldir described option `include.file.metadata`, but it looks like it is not present in current version.

Is it possible to resurrect it?

[2019-11-04 21:22] badaiaqrandista opened #117 "Spooldir ELF connector throws NullPointerException"
I think this is a bug in SpoolDirELFSourceTask.java

In this line, it expects keyStruct to exist:

[code]

https://github.com/jcustenborder/kafka-connect-spooldir/blob/master/src/main/java/com/github/jcustenborder/kafka/connect/spooldir/elf/SpoolDirELFSourceTask.java#L96

But SchemaConversionBuilder.java instantiate the converter with null schema:

[code]

https://github.com/jcustenborder/kafka-co

[2019-11-17 11:37] Hubbitus commented on #116
Sorry, are you interesting in the PR for that?

[2019-11-17 17:53] jcustenborder commented on #116
@Hubbitus @malamut54 Have you tested out the [2.0](https://github.com/jcustenborder/kafka-connect-spooldir/tree/2.0) branch? This has metadata support in a couple different ways. Field based, Header based, and disabled.

[2019-11-18 08:32] Hubbitus commented on #116
Hello @jcustenborder.

Thanks for the good news. We are ready to try. Where I can find documentation about such options?

[2019-11-18 15:43] jcustenborder commented on #116
@Hubbitus  yea ouch on that one. The docs are not published at the moment. You could run `mvn clean package` and it will compile the source of the v2 branch and in the `target/docs` folder is a bunch of generated documentation.

[2019-11-27 08:10] mammenj commented on #63
I had similar issue but my question is should'nt the mvn build pull in all the dependencies? or is there another project to build with dependencies?

[2019-11-27 15:27] jcustenborder commented on #63
@mammenj `mvn clean package` is what you are looking for. During the `package` phase it gathers all of the dependencies and places them in the target. Look in `target/kafka-connect-target/`. It also creates the package that is uploaded to the Confluent hub in `target/components/packages/`.

[2019-11-28 15:34] Avielyo10 commented on #81
@jcustenborder , I encountered the same problem, `connect-utils` isn't a part from the dependencies

[2019-11-28 20:53] jcustenborder commented on #81
@Avielyo10 This is because you didn't copy over the dependencies. Look in `target/kafka-connect-target/` and you'll see several dependencies. You need make sure that you are running `mvn clean package` and pulling in all of the dependencies. You can also look at `target/components/packages/` and take the zip. That is what is deployed to the Confluent hub.

[code]

[2019-12-03 09:24] Avielyo10 commented on #81
@jcustenborder Works now!thanks!

[2019-12-03 09:27] Avielyo10 opened #118 "RFE: Spool remote dir"
Let SpoolDir connector use input/output remote directories

[2019-12-03 13:53] jcustenborder commented on #118
@Avielyo10 Can you elaborate on this one? Spooldir should be able to work against any posix filesystem. You could use a fuse filesystem to point it at s3 for example if needed.

[2019-12-03 14:58] Avielyo10 commented on #118
@jcustenborder I have an app with data that I want to spread out to several places.
I want to point to the app's directory with SpoolDir, is it possible?

[2019-12-03 15:01] jcustenborder commented on #118
@Avielyo10 You're not giving me a ton of information to work on so sorry if I'm asking a lot of questions. Can you give me an example of what several places means? Does this mean several directories on a system or does this mean several different hosts? Are you talking about a filesystem with subdirectories? If you could give some examples that would be helpful.

[2019-12-03 15:13] Avielyo10 commented on #118
@jcustenborder
I have an app that produces logs & XMLs (directory with subdirectories), I want to send them to kafka so kafka will push them into S3 && Polarion

[2019-12-05 09:18] #118 closed

[2020-01-29 17:43] davidg2019 opened #119 "SpoolDirLineDelimited - Task failed when processing file that contains corrupted line"
Hi,

I have a file that contains some lines of 500 columns. The last one (is corrupted) has over than 130 000 000 columns.
When the connector process the file, it throw this error:

[2020-01-27 19:04:34,753] ERROR WorkerSourceTask{id=test-error-0} Failed to flush, timed out while waiting for producer to flush outstanding 1 messages (org.apache.kafka.connect.runtime.WorkerSourceTask)
[2020-01-27 19

[2020-01-29 23:14] sivaknakka commented on #119
The same issue with my case also. In my case the task failed when there was a bad record in the input and did not push the file to error directory even, the file stays in the same location. When restarted after  the whole file started loading again from the beginning, received duplicate records in the topic. Not sure how to overcome this scenario.

[2020-01-29 23:17] sivaknakka commented on #119
Moreover I see the offsets being stored in _kafka-connect-offsets topic, but do not find the corresponding source file name, it shows only the offset number, no other entries in the topic. Also wondering how to get the source file name along with the offset in the _kafka-connect-offsets topic.

[2020-01-29 23:19] sivaknakka opened #120 "DLQ Implementation for the source connector"
Need DLQ implemented for SpoolDir source connector like available for Sink connectors. Currently if there is a failure the task is failing, instead it is better if there is an option to push the bad/invalid record to a rejected topic.

[2020-01-29 23:32] jcustenborder commented on #119
Have either of you tried the [2.0](https://github.com/jcustenborder/kafka-connect-spooldir/tree/2.0) version?

What does the log say when this happens? If you are using the console consumer to consume `_kafka-connect-offsets` try adding `--property print.key=true`

Your exception is kafka kicking the message out for being too large for a single line. The connector you are using only reads line by

[2020-01-30 14:40] davidg2019 commented on #119
Hi,

I understand the error. I know that the line is too big because it is a bad record.
My connector process a file that is generated by an another processing so i have no control on the content of the file.
In my case, i don't want that this file to be processed because it contains a bad record,
so i expected that the connector catch the error and according to the config halt.on.error=false, mov

[2020-01-30 15:24] jcustenborder commented on #119
Unfortunately that happens after the task has converted the data to records. I wouldn't be able to catch the exception any way. You could potentially look at implementing a transformation that inspects the value of the message and if it's longer than x, drop the message.

[2020-01-30 15:37] jcustenborder commented on #120
Could you elaborate more on how you see this feature working? Sink connectors only have the DLQ for messages where the converter fails. Take #119 for example. The exception is happening after the framework has generated the record. It's not something that can be caught in the task. We could for example catch exceptions when parsing a field to a type, and produce that to another topic. We would not

[2020-02-02 21:41] prasinos commented on #40
The issue is still present in all releases from 1.0.29 onwards. The fix above was reverted (seemingly by accident) in commit 68b2e59226f01229915eabbc6529a421a5335c6d
Changing 1 to 0 in https://github.com/jcustenborder/kafka-connect-spooldir/blob/32d2d69d4ac1e3840a6866604397243a2707a5e3/src/main/java/com/github/jcustenborder/kafka/connect/spooldir/SpoolDirJsonSourceTask.java#L67 fixes the issue.

[2020-02-03 18:11] georgelza opened #121 "enhancement request"
It would be great to be able to specify the key to the messages (events) posted.
or at least specify values that can be pushed into the headers of the messages, if in the headers then SMT can be used to enrich or key the msg down the line.

ie,
file name - where a directory is monitored, all messages per file might need to be processed in order, and identified as originating from a single file.
se

[2020-02-04 18:14] niqdev opened #122 "Unable to override key/value names"
Hello!
I've setup the connector and it works like a charm compared to the official `FileStreamSourceConnector`, but I've just realized that the key/value name overrides doesn't work as expected.
Could you please help me to identify what I'm doing wrong?

This is the the configuration
[code]

This is a sample data
[code]

This is the key schema generated
[code]
and this the value schema generated
[

[2020-02-04 18:43] jcustenborder commented on #122
@niqdev Can you elaborate a little more on the key value overrides? Do you mean that it's ignoring `schema.generation.key.name` and `schema.generation.value.name`? If so that could be a bug. Can you give the [2.0](https://github.com/jcustenborder/kafka-connect-spooldir/tree/2.0) a try?

Are you meaning changing what the actual schema of the data written to Kafka?

If you trying to do key by `accou

[2020-02-04 18:51] niqdev commented on #122
You were super fast in answering me 😅 thanks!

yep

Are the binaries available somewhere or I should build them from the sources? What are the breaking changes?

I'll give it a try to the other changes you suggested me!

[2020-02-04 18:55] jcustenborder commented on #122
You would need to build it from source. It's really solid though. There are several companies working with it in production. It adds support for multiple tasks, so you could use connect distributed against a NAS for example.

[2020-02-06 13:19] dinegri opened #123 "How to import raw csv"
Hi,

I am looking for a way to add raw csv to a topic, I tried some setup but I am not able to achieve it. In my test I found out that without use key.schema and value.schema it uses connect schema, but my value.convert.schema.enable is false

Is it possible to do that?

[2020-02-06 15:23] jcustenborder commented on #123
@dinegri Kafka Connect has a few layers that it runs. `Source Connector` -> `Transformations` -> `Converters` -> `Kafka Producer`.

This connector will take the CSV and it generates records with a schema. It'll read the first row as the header, and emit records for the following rows. Take a CSV that looks like this:

[code]

The connector will generate a record with the following schema.
[code]

[2020-02-06 16:54] jcustenborder commented on #121
@georgelza That feature is available in the [2.0](https://github.com/jcustenborder/kafka-connect-spooldir/tree/2.0) branch. It's going to be released to the Confluent hub soon. For now you could pull it down and build it with `mvn clean package` For inserting the server name I would do that in a transformation. jcustenborder/kafka-connect-transformation-common#56

[2020-02-06 16:55] jcustenborder commented on #121
#116

[2020-02-06 17:45] georgelza commented on #121
glad to hear about the features and 2.0
you say that feature, assume you refer to the ability to add keys to events?
The server name, will have to rethink, I'm aware of SMT, but there was a specific reason why I was hoping they key can be key.value = {hostname} and why I figured SMT won't work.
thanks.

[2020-02-06 17:49] jcustenborder commented on #121
SMTs are cool because you can do whatever you want the record. You receive a record and emit a record. This connector will only key data based on the data in the files it processes. Unfortunately I don't have a way to interject the server name. Question for you though. Why would you want the data to be  keyed by the  hostname? Is it logging data specific to that host? The SMT allows you to do what

[2020-02-06 17:58] georgelza commented on #121
Clusters environments ad source writing to a shared NFS, each host with a connect node, writing this stream to the same topic.... would/could write for each connect job/definition as you say a SMT, that gets events/lines and SMT injects the host name into msg/key before outputting it to the common topic, but this means hard coding a value into the SMT step, and if I need to add more source nodes,

[2020-02-12 01:17] dinegri commented on #123
Hi @jcustenborder

Firstly, thank you all for this amazing project

I had compared performance with others kafka connectors options, spool-dir has a great performance (read file and write to a kafka topic).

I got your point, thank you for you help

[2020-02-12 01:17] #123 closed

[2020-02-28 18:02] #98 closed

[2020-02-28 18:02] #94 closed

[2020-02-28 18:02] #95 closed

[2020-02-28 18:02] #97 closed

[2020-02-28 18:02] #105 closed

[2020-02-28 18:02] #117 closed

[2020-02-28 18:21] #2 closed

[2020-02-29 18:53] SledgeHammer01 opened #126 "A few issues / questions"
Hi,

I am testing out version 1.0.41, CSV parser. My properties look like this:

name=file-connector

connector.class=com.github.jcustenborder.kafka.connect.spooldir.SpoolDirCsvSourceConnector

tasks.max=1
input.path=c:/inetpub/sftproot
input.file.pattern=source.csv
error.path=c:/inetpub/sftproot/error
finished.path=c:/inetpub/sftproot/finished
halt.on.error=false
topic=sftp-topic
csv.first.row.as

[2020-02-29 18:56] jcustenborder commented on #126
@SledgeHammer01 I'll look into the metadata part. Have you tried using a unique file name? It could have something to do with how the connector handles restarts. Can you give the latest version of the connector a shot? I released [2.0.43](https://www.confluent.io/hub/jcustenborder/kafka-connect-spooldir) a couple days ago.

[2020-02-29 19:01] SledgeHammer01 commented on #126
Oh lol... I just started working with the connector late last week and 1.0.41 was the latest :). I'll try the new one and report back later today.

[2020-02-29 19:15] SledgeHammer01 commented on #126
Actually, it was a quick test... 2.0.43 produces records with the metadata headers :). Thanks!

If I want to make file.name the key instead of the header, is that possible? If I make metadata.location=FIELD and metadata.field=filename, it will add it to the value only without defining the column? Or do I still need to define it? Then I can make the key refer to filename column? So the filename wou

[2020-03-01 17:23] jcustenborder commented on #126
Yea sorry about that. The 2.0 version has been in the works for quite a long time. I work for Confluent and Confluent will officially support it so we had some coordination to do around the documentation.

I would caution you against using the filename as the key. This would end up writing all of the data to a single partition. It'll reduce your throughput on the consumption side because you would

[2020-03-01 18:20] SledgeHammer01 commented on #126
I'm ingesting historical stock data from Yahoo, so the filename is the natural key since its the stock symbol. I.e. the file comes down as NVDA.csv for example. So each symbol will have a different filename.  I'll change the input pattern to regex vs hard coding source.csv.  The symbol isn't included as a column in the CSV data unfortunately.

I'll do some research on the transformations to see ho

[2020-03-16 19:45] shawn35gh opened #127 "request to trim trailing spaces in column for CSV source connector."
Please see below request from https://confluent.zendesk.com/agent/tickets/28466
-------
We have a scenario where we have to trim extra trailing spaces in a column of a CSV file using SpoolDir source connector.
We can only find trimming leading spaces option currently part of "csv.ignore.leading.whitespace".
Like to know if there is an option to trim trailing spaces in a column using CSV Source con

[2020-04-14 17:29] ttrading opened #128 "Error "Exception encountered processing line 0" (Header)"
I am trying to process a tab delimited file with headers. Following is my config file:

name=messages
tasks.max=2
connector.class=com.github.jcustenborder.kafka.connect.spooldir.SpoolDirCsvSourceConnector
input.file.pattern=^messages_processed.*\.csv$
finished.path=/var/finished
input.path=/var/sftp/o365
error.path=/var/error
halt.on.error=false
topic=o365
key.schema={"name":"com.example.users.Use

[2020-04-14 17:30] jcustenborder commented on #128
@ttrading What version is this?

[2020-04-14 17:31] ttrading commented on #128
2.0.43

[2020-04-14 17:33] jcustenborder commented on #128
Is the delimiter correct? Here is the line that is failing. It's basically not getting anything back from the header.

https://github.com/jcustenborder/kafka-connect-spooldir/blob/master/src/main/java/com/github/jcustenborder/kafka/connect/spooldir/SpoolDirCsvSourceTask.java#L62

[2020-04-14 17:35] ttrading commented on #128
Here is the file that I located under the error folder:
[messages_processed_1586885016958195426.txt](https://github.com/jcustenborder/kafka-connect-spooldir/files/4476797/messages_processed_1586885016958195426.txt)

The header is in place. I am not sure what happened.

[2020-04-14 17:45] ttrading commented on #128
What is the separator code for pipe character? "|"

Wiki mentions 44 for comma and 9 for tab.

[2020-04-14 17:47] jcustenborder commented on #128
According to the [Ascii table](http://www.asciitable.com/) 124.

[2020-04-14 17:52] ttrading commented on #128
thanks...That did not help the situation. The file is still place under the error folder.

My config has the following two items:
csv.first.row.as.header=true
csv.separator.char=124

[messages_processed_1586886481221855423.txt](https://github.com/jcustenborder/kafka-connect-spooldir/files/4476862/messages_processed_1586886481221855423.txt)

[2020-04-14 17:56] jcustenborder commented on #128
Interestingly enough. I get a different error message using your original config.

[code]

[2020-04-14 17:59] ttrading commented on #128
Do you think this is a field type mismatch issue? Or issue with handling the empty fields?

[2020-04-14 18:00] jcustenborder commented on #128
Give this config a try. I changed [csv.null.field.indicator=BOTH](https://jcustenborder.github.io/kafka-connect-documentation/projects/kafka-connect-spooldir/sources/SpoolDirCsvSourceConnector.html#csv-null-field-indicator)

[code]

[2020-04-14 18:01] ttrading commented on #128
I was just about to send you a message :) Yes that works. I tried:
csv.null.field.indicator=EMPTY_SEPARATORS

Thanks for the help

[2020-04-14 18:02] jcustenborder commented on #128
NP! Glad you got it working.

[2020-04-14 18:51] ttrading commented on #128
I think I was a little fast. Here is the issue. When I start the kafka process on the CLI, it imports all the files in input folder to kafka but nothing loaded in the input file after that gets processed. They are placed in the error folder. Here is my config file:

finished.path=/var/o365_finished
input.path=/var/sftp/o365
error.path=/var/o365_error
halt.on.error=false
topic=o365
key.schema={"nam

[2020-04-14 18:54] jcustenborder commented on #128
I guess I don't understand why you're hitting it with sed? Is this a different file format? I was able to read your last example.

[2020-04-14 18:56] ttrading commented on #128
I figured if I fill up all the fields with a default value (in this case 0) I rule out some of the potential issues I might run into. I can take sed out of the picture and just send the CSV as it is.

[2020-04-14 19:03] jcustenborder commented on #128
The connector can handle empty fields and it handles it as a tsv. Have you tried the config I posted earlier? That read your sample file

[2020-04-14 20:05] ttrading commented on #128
I did. I switched back to tab delimited on my data source and removed sed from my shell script. So now I am pushing a tab limited file and processing it with the config file you provided. The result is the same. Whatever that is already in the input folder is processed successfully first time I start kafka-connect and pushed to Kafka. However, any subsequent file is placed in the error folder. Fol

[2020-04-14 20:10] jcustenborder commented on #128
[code]

Yielded this

[code]

[2020-04-14 20:10] jcustenborder commented on #128
What operating system are you running on? I'm testing this on a mac.

[2020-04-14 20:11] ttrading commented on #128
CentOS 7.7

[2020-04-14 20:13] jcustenborder commented on #128
Unless it's something specific to /var/sftp/o365/messages_processed_1586894581093391832.csv or does this happen to every file you try?

[2020-04-14 20:16] ttrading commented on #128
this same issue seems to be happening with this specific file constantly. I have a couple of more CSV file structures to pull some metrics from the monitored system. They seems to be working better. They do experience the same issue intermittently. I say every 1 file out of 10 is placed in the error folder. I ignored the issue so far since the loss rate was not significant but with this file it is

[2020-04-14 20:17] jcustenborder commented on #128
The problem is we haven't reproduced the errors with the data you've given me.

[2020-04-14 20:20] ttrading commented on #128
I will build 2.0.43 again and give it a shot.

[2020-04-14 20:21] jcustenborder commented on #128
just pointing it out. You've never uploaded messages_processed_1586894581093391832.csv. If this file is somehow different I don't know

[2020-04-14 20:41] ttrading commented on #128
I think I will give up on this for now. I am running this to import two separate CSV files:

CLASSPATH=/home/kafka-connect-spooldir-2.0.43/target/kafka-connect-target/usr/share/kafka-connect/kafka-connect-spooldir/* /home/kafka/bin/connect-standalone.sh /home/kafka-connect-spooldir-2.0.43/config/standalone-config.properties /home/kafka-connect-spooldir-2.0.43/config_o365_currentservicestatus/sourc

[2020-04-14 20:44] jcustenborder commented on #128
I cannot help you without seeing the data in the file or the configuration. All of the ones you have sent me so far have been workable. Unless I repro the issue I cannot be of much help. I would look at the file with a hex editor and ensure that the delimiter is what you think it is

[2020-04-14 20:55] ttrading commented on #128
fair enough. I just need to finish a few tasks pending; I will get back to this afterwards.

Thanks for the help.

[2020-05-01 05:43] arabinda79 opened #129 "Does not work when I try to parse a Json Array"
It is not able to parse the document before string it to topic when I try to process a JSON array like bellow
[{
    "id": 1,
    "first_name": "Adolf",
    "last_name": "Lowerson",
    "email": "alowerson0@usgs.gov",
    "gender": "Male",
    "ip_address": "52.73.150.156",
    "last_login": "2015-10-17T09:20:09Z",
    "account_balance": 22958.6,
    "country": "PH",
    "favorite_color": "#26f1a6

[2020-05-13 22:38] KateShan opened #130 "More than one schema was found for the input pattern."
This is regarding kafka-connect-spooldir connector for CSV. I would like to know if there is a way to avoid hardcoding the schema and let the connector create schema dynamically? I have a lot of csv files to process say few hundreds GB per day sometimes a couple of tera bytes of csv. Sometimes some csv files have new columns and some are dropped.

I am able to successfully read the csv and write t

[2020-05-14 01:50] KateShan commented on #130
I was able to parse all the data now. Trick was to process one file first [ any] and then just to check add randomly add another. It looks like that way, it updates the schema automagically. (like how Robin Moffatt calls it)
After that add all files to the folder, it process just fine. YAY!

[2020-05-14 01:55] jcustenborder commented on #130
The schema generation feature can be a little difficult to use. In your case you really want the first file it processes to be have all of your columns. If you look at the logs when the task starts it'll output the schema that it used. You can use that schema for all of your files. Any columns that are missing in the later files will be null.

[2020-05-16 17:02] sweetat-xfers opened #131 "Spooldir support for xlsx files"
I'm wondering if I needed to write an extension to allow for the reading of xlsx files, how should I go about doing that?

For the source side of things, I am thinking that I can do this by using Apache POI to open the excel file, creating a different topic for each worksheet in the file.

As a sink, this tool will also be awesome in supporting the creation of excel spreadsheets based on the data

[2020-06-10 01:02] samyujialiu opened #132 "kafka csv without schema does not work"
Hi there, We are now working on the Kafka connect parts. We need to input csv files into Kafka. The one with schema works, but the one without schema failed. Can you pls help us with that ? Many thanks
![image](https://user-images.githubusercontent.com/28554109/84215454-61691f00-ab1a-11ea-97ab-72484339a839.png)
![image](https://user-images.githubusercontent.com/28554109/84215516-99706200-ab1a-11ea

[2020-06-10 02:01] jcustenborder commented on #132
@samyujialiu `input.file.pattern` is a regex that needs to match the whole file name. Try something like [^.+\.csv$](http://www.regexplanet.com/cookbook/ahJzfnJlZ2V4cGxhbmV0LWhyZHNyEwsSBlJlY2lwZRiAgIDSt-KVCgw/index.html)

[2020-06-10 02:01] #132 closed

[2020-06-10 02:11] samyujialiu commented on #132
@jcustenborder  I tried it, but it still does not work. I just want to create the schema automatically other than create it .. Thanks

[2020-06-10 02:13] jcustenborder commented on #132
@samyujialiu The value that I gave you above will work. They key to keep in mind is that it will apply that schema for every csv that matches the regex. You need to make sure that at least one file that matches that regex is in the directory.

[2020-06-12 06:40] MohammadChalaki commented on #26
I've been trying to run the csv-connect not using docker, so I've started zookeeper and kafka on a kafka cluster with three zookeepers and brokers.
Starting connect, I've used a distributed mode with a properties file like below:
myworker.properties:
[myworker.txt](https://github.com/jcustenborder/kafka-connect-spooldir/files/4769144/myworker.txt)

My plugin path directory containing dependencies

[2020-06-12 14:33] jcustenborder commented on #26
@MohammadChalaki I would not use a path based on `~`. Fully qualify the path. Change

`plugin.path=~/spooldir/target/kafka-connect-target/usr/share/kafka-connect/kafka-connect-spooldir/`

to

`/home/whoever/spooldir/target/kafka-connect-target/usr/share/kafka-connect/kafka-connect-spooldir/`

You can also download it prebuilt from [here](https://www.confluent.io/hub/jcustenborder/kafka-connect-spo

[2020-06-12 15:57] MohammadChalaki commented on #26
Unfortunately by changing ~/ to /home/ubuntu, as you've mentioned, my connect can't ba able to be up. I've also used prebuilt and mvn clean package to get dependencies.

[2020-06-12 16:04] MohammadChalaki commented on #26
Unfortunately changing ~/... to home/ubnuntu/... didn't solve my problem.
I've also used the prebuilt and 'mvn clean package' to get all the dependencies in the specified plugin.path.

[2020-06-12 16:09] jcustenborder commented on #26
@MohammadChalaki That sounds like a permissions problem. It's going to depend on how you are starting connect. For example if you're using systemd it's mostly likely using a different user that doesn't have access. You should try putting something like `plugin.path=/opt/kafka-connect`. Place the connector in `/opt/kafka-connect/kafka-connect-spooldir` and restart your worker. This will load each s

[2020-06-14 18:22] MohammadChalaki commented on #26
Sorry for the bother, but unfortunately I didn't get the  "Place the connector in" part. Could you please explain it more?!
Thnx!

[2020-06-14 20:53] jcustenborder commented on #26
@MohammadChalaki All good buddy. When you run `mvn clean package` one of the outputs is a folder called `target/kafka-connect-target` under this it has all of the dependencies needed to run the connector. You need to take the content of this folder and copy it to `/opt/kafka-connect/kafka-connect-spooldir`. If your worker properties file has `plugin.path=/opt/kafka-connect` the worker will look at

[2020-06-18 03:54] ajcowen opened #133 "Blank lines"
HI,

I am using SpoolDirCsvSourceConnector.  When there is a blank line at the end of file, there is an error

[2020-06-17 23:41:03,441] ERROR Exception encountered processing line 3 of /tmp/kafkaFileLoad/retricted4.csv. (com.github.jcustenborder.kafka.connect.spooldir.AbstractSourceTask:260)
java.lang.ArrayIndexOutOfBoundsException: 1
        at com.github.jcustenborder.kafka.connect.spooldir.Spo

[2020-07-01 21:47] leobekhuis opened #134 "csv connector state FAILED"
Hi I am getting this status FAILED on a connector which I was testing a few weeks ago. I did not change anything but some how the state is FAILED. How should I read this trace, I have tried to unload and load the connector with new config details but no succes.

"connector": {
    "state": "FAILED",
    "worker_id": "127.0.1.1:8083",
    "trace": "java.lang.IllegalStateException: Could not find an

[2020-07-01 21:48] jcustenborder commented on #134
@leobekhuis There were no files for it to infer a schema from when it started. Inferring the schema is really for the first run. It needs a file to try and parse the schema.

[2020-07-01 21:50] #134 closed

[2020-07-01 21:51] jcustenborder commented on #134
@leobekhuis Your best bet is to go grab the schema it used previously to start and put that in your config.

[2020-07-08 17:21] jcustenborder opened #135 "Support reading an entire file at a time"

[2020-07-08 17:37] jcustenborder opened #136 "SpoolDirLineDelimitedSourceConnector should support multiple tasks"

[2020-07-16 14:20] xs005 opened #137 "How do you make the producer so fast?"
I have been using your library for quite a long time and I love it. I am trying to build one with Python because I have to add some additional fields based on the original data. My code is very slow. Kafka-connect-spooldir can ingest 100MB file within 1 min, but my code needs more than 10 min. I found that librdkafka gets them delivered to kafka in a very slow way, and I always got **Local: Queue

[2020-07-16 14:28] jcustenborder commented on #137
@xs005 I tend to spend most of time time in Java but it's going to boil down to a few things. Librdkafka is crazy fast. It's most likely going to be settings. batch size is always important in kafka. make sure that you're not synchronously processing one message at a time. Spooldir sends hundreds or thousands of messages per poll. This drastically reduces the round trips to the brokers.

[2020-07-26 19:33] MohammadChalaki opened #138 "Error 404"
Hi,
I have successfully built connect in distributed mode, parsed the .json properties to start spooldir, been able to resolve all errors accrued at both steps, which yield to no error occurrence while starting connect and passing it's properties. But, my csv file is not read, and therefore there wouldn't be any data written in my topics. To check the connect status, I've found out that there is a

[2020-07-27 15:24] xs005 commented on #137
I guess the app is doing synchronously processing one message at a time. I am looking for an example how to do that asynchronous. And I was told in the kafka slack that Librdkafka is default asynchronous, and I am very confused about how to do that. Thank you for your reply.

[2020-07-27 15:24] #137 closed

[2020-07-31 01:39] corybreed opened #141 "CSV Task Rebalancing Issues"
**Scenario**:
I am using the CSV connector in a data pipeline to import a large csv data set from AWS EFS into Kafka. This data pipeline process configures a lot of csv connectors at the beginning of it’s process, and routinely encounters csv files in excess of 300MB in size.

**What I am experiencing**
When a rebalance happens (due to new conenctors getting configured, etc) my large csv tasks are

[2020-07-31 01:45] jcustenborder commented on #141
Hey @corybreed!

Thanks for the issue. Can you give me the full stack trace that you are seeing? There was an issue with rebalancing and this connector a long time ago but I thought we fixed it. Please take a look at your worker logs. There might be another stack trace there that might be the problem. What version of connect are you using as well?

J

[2020-08-01 19:31] corybreed commented on #141
Thanks for the quick response. I'll try and get the logs together by Monday.

[2020-08-04 15:03] corybreed commented on #141
@jcustenborder

Here is a snapshot of the logs + the stacktrace for when we are seeing our CSV task get shut down by Connect

[code]

[2020-08-04 15:58] jcustenborder commented on #141
Thanks @corybreed! Can you reliably reproduce this? I'm wondering if we're getting an additional call to poll() after we've closed the stream.

[2020-08-05 14:27] corybreed commented on #141
Yes, it's very reliably reproduced on our connect cluster. We've done a lot of testing try and narrow down when the connector crashes, and it always crashes on us when we have more than 1 active connect worker. I also think the problem is probably magnified in our use case because of the fact that during the beginning of our ETL pipeline run, we configure 100+ csv connectors all at once, which is

[2020-08-05 16:11] jcustenborder commented on #141
@corybreed Which version of the connect framework are you using?

[2020-08-06 13:29] corybreed commented on #141
We're running using the Confluent Platform Dockerfile v5.4.2

[2020-08-06 14:41] scheung38 commented on #131
Hi any update from Kafka? also working with xlsx files now, and wasnt sure whether to convert to CSV file is needed or if there are any xlsx connectors?

[2020-08-18 05:47] PSheshenya opened #142 "SpoolDirLineDelimitedSourceConnector doesn't support 'timestamp.mode'"
SpoolDirLineDelimitedSourceConnector doesn't support configuration property
https://docs.confluent.io/current/connect/kafka-connect-spooldir/connectors/line_delimited_source_connector.html#timestamps

The addRecord methods calls just from CSV and JSON connector
https://github.com/jcustenborder/kafka-connect-spooldir/blob/master/src/main/java/com/github/jcustenborder/kafka/connect/spooldir/Abstract

[2020-08-21 21:08] viprud opened #143 "Filename as one of the field"
Can we carry filename as one of the field into Kafka?

[2020-08-23 00:13] #143 closed, assigned to nobody

[2020-08-27 17:03] mark-patrick-bank commented on #141
@jcustenborder Hey–workmate of @corybreed's. We have a worker's log statements written during one of these situations, in case this sheds any more light on things: https://gist.github.com/mark-patrick-bank/23ad6192ac6f1ae0fd5c1827802c4e7d

We've since taken to waiting after we configure all 4200 connectors for worker logs to quiet down about rebalancing before we move data into incoming dirs, but

[2020-08-29 12:26] candalay opened #144 "Getting a Server Exception, it is not able to flush"
Hi I am trying to connect Kafka Cluster and receiving this error. Same configurations for Kafka File Stream Source connector is worked. Could you please give idea about it?

Task is failed but it moved the file to finished folder, I could not see the data in my Consumer. I am using LineDelimeted Source connector of Spooldir with Kafka-Connect base image.

"confluentinc/cp-kafka-connect-base:latest

[2020-08-29 16:33] jcustenborder commented on #144
@candalay The first thing I would do is ensure that your cluster is up and running well. Make sure that all of the brokers are addressable by DNS. This is most likely a problem with an unstable cluster.

[2020-08-29 16:41] candalay commented on #144
Thanks for the answer.

With same connect configurations, I created another worker with org.apache.kafka.connect.file.FileStreamSourceConnector and it sent the data. It has same connector parameters.

Are there any Broker and kafka version compatibility restrictions for SpoolDir?

[2020-08-29 16:43] jcustenborder commented on #144
@candalay Not really. It should work with any version that supports headers. Make sure that all of your partitions are online. You also most likely are not going to want the value.converter to be the StringConverter. You might want to try the JsonConverter instead.

[2020-08-29 17:10] candalay commented on #144
Still the same. What do you mean by headers? Might be I will check on Monday.

Also, I have some SSL configurations, not sure if it has any effect?

CONNECT_SECURITY_PROTOCOL=SSL
CONNECT_SSL_CLIENT_AUTH=none
CONNECT_SSL_KEYSTORE_LOCATION
CONNECT_SSL_KEYSTORE_PASSWORD
CONNECT_SSL_TRUSTSTORE_LOCATION
CONNECT_SSL_TRUSTSTORE_PASSWORD

[2020-08-29 17:15] jcustenborder commented on #144
Kafka has support for storing headers on the each message. I think it was added to connect in 2.0. If you can give me much more of the log so we can dig in a little more.

[2020-08-29 17:42] candalay commented on #144
[logs.txt](https://github.com/jcustenborder/kafka-connect-spooldir/files/5145714/logs.txt) uploaded logs

[2020-08-30 11:27] candalay commented on #144
I got an error, when I tried to send record with Header. How can I disable or skip this for using SpoolDir

[2020-08-31 18:10] candalay commented on #144
"metadata.location":"NONE" when I set this, it worked. It is about Kafka version. Thanks for the indication.

[2020-08-31 18:11] #144 closed

[2020-09-07 00:03] scheung38 opened #145 "[Question] Why sometimes files do not get ingested?"
I know that file names once ingested from unprocessed to processed folder, wont be processed again, but from time to time I needed to docker-compose down and up before it is able to processed.

Sometimes even docker-compose down and up wont even ingest, can someone share their similar experience and how to over come this experience I am facing?

[2020-09-14 23:01] #145 closed

[2020-09-14 23:02] scheung38 opened #146 "[Question] Recommended config for CSV without primary key"
What is the recommended config as CSV does not have unique primary keys?

[2020-09-14 23:04] jcustenborder commented on #146
@scheung38 Keys do not need to be unique. If you get two keys that are the same you will still get two records into Kafka. They will end up in the same partition.

[2020-09-14 23:08] scheung38 commented on #146
For example:

![Screenshot 2020-09-15 at 00 08 14](https://user-images.githubusercontent.com/1273014/93146751-8fe13200-f6e7-11ea-9b24-7c3fcbb7e622.png)

[2020-09-14 23:14] jcustenborder commented on #146
I'm not sure on the KSQL part. I'd have to look into that. I think it doesn't support compound keys so you might need to use a single message transform to make just "order-01" your key. If you are looking for the aggregate view of order-01 you might need to use Kafka Streams instead and build a hierarchy.

[2020-09-14 23:17] scheung38 commented on #146
Then could we hash each row on the fly to provide uniqueness, better to write UDF that hashes based on several columns?

[2020-09-14 23:26] jcustenborder commented on #146
Maybe. Given I don't fully understand this data I can't tell you for sure. You could also build a single message transform that concatenates a few fields. Think order-01:8:2020, etc. I personally would want to aggregate this to another topic that is keyed by order-1 with an array of the other content. something like key: order-1, value: [{},{},{}] where values are the combination of those rows. Th

[2020-09-14 23:33] scheung38 commented on #146
This is just a tiny sample, will get large amount of data. Other than the first two columns the rest of the fields should be different enough to generate unique hash as primary key for each row

[2020-09-29 00:13] aaydgithub opened #147 "Are ARRAY / BYTES supported?"
I have tried to use Schema.Type ARRAY and BYTES. But I couldn't make it work. Just wonder if ARRAY / BYTES are supported? Thanks.

[2020-09-29 06:39] phucsnguyenv opened #148 "Problem with logging"
Hi team,
I have some questions with Spooldir connector log.

1. It generates so many log records for searching file, it's useful to check if the connector is running but it's too much, and hard to check other importance records. I think we can have option to turn it off or change the log level.

2. Every time it proceed a file, the log seems not provide correct informaiton
[code]
Even the files th

[2020-10-05 16:16] xs005 opened #149 "add a static/dynamic field in value schema."
Is it possible to add a customized field while reading the file? like
1. the file name (static, based on the file name)
2. the timestamp to read the file (dynamic, generated when the file is read)

So that each message in the file will have the customized field while ingesting to Kafka.

Thanks!

[2020-10-21 16:40] mark-patrick-bank commented on #141
Hey Jeremey, just wanted to clarify: after letting rebalances subside, we **don't** have any issues processing files with the spool dir connector. We haven't retried having it process data during rebalances since we found that out. We just configure all our connectors, wait a couple hours for them to sort out, and move data into position.

[2020-10-27 10:15] candalay commented on #136
is this change released?

[2020-10-27 18:03] candalay opened #150 "Spooldir Line Delimited in Distributed mode?"
Hi,

Can Spooldir Line Delimited Source run in distributed mode?

Tahnks

[2020-10-27 18:04] jcustenborder commented on #150
Any one of the connectors in this project can run in distributed mode assuming that you have shared storage that is mounted on all nodes in the connect cluster.

[2020-10-27 18:14] candalay commented on #150
yes, it is checking the same storage but only one of them is checking the input folder, the other one is stopping after doing rebalancing. It has some cluster id and connect group id.

    curl -s -X PUT -H "Content-Type: application/json" --data '{"connector.class":"com.github.jcustenborder.kafka.connect.spooldir.SpoolDirLineDelimitedSourceConnector",
    "tasks.max":"1","topic":"","input.file.pa

[2020-10-27 18:16] candalay commented on #150
can task.max value more than 1? when I set 3 nothing is changed

[2020-10-27 18:22] jcustenborder commented on #150
Right now no. No matter what you put in the `tasks.max` it only creates a single task. I need to fix that. If you create more than one connector pointing to the same folder looking at the same files you are going to run into issues. Your input pattern is a regex so you might want to check that. I think you'd need `^.*.log$`. Even single threaded this connector is only doing a readline against each

[2020-10-27 19:00] candalay commented on #150
My expectation was 2 connector can check same folder and picks up 2 files at a time so with 2 pods application reads 2 files.

I am running two pods but receiving this error for second pod.

Discovered group coordinator address:9091 (id: 2147483646 rack: null)
Rebalance started
(Re-)joining group
Successfully joined group with generation 4
Joined group at generation 4 with protocol version 2 and g

[2020-10-27 19:04] jcustenborder commented on #150
Did you correct the regex I pointed out earlier? When you say pod are you running on kubernetes? Distributed mode will not work without shared storage. The files to be processed must be on a NFS share that is mounted to all workers. If you are wanting to get something generated by another pod you could look into using this as a side car using standalone mode.

[2020-10-27 19:17] candalay commented on #150
Yes it is kubernetes,  I am using your suggested regex "input.file.pattern":"^.*.log$"

No it is looking to same folder,  there is a mounted volume for both. When I deleted the other pod, second pod is starting to run.

[2020-10-27 19:23] jcustenborder commented on #150
Don't try to use multiple connectors that are pointing to the same directory looking for the same files. The tasks use lock files to try to prevent this from happening. Can you give this branch a shot? It has a fix allowing multiple tasks from the same connector.

https://github.com/jcustenborder/kafka-connect-spooldir/tree/issue-135

[2020-10-27 19:50] candalay commented on #150
yes I tried with increasing tasks size : 2, it picked up with this branch https://github.com/jcustenborder/kafka-connect-spooldir/tree/issue-135. But if two files are in folder and if one of these are not marked with .PROCESSING. It is doing one by one. When this can be released? In any case it can be used for now, need to more test.

for previous case, I changed the connector name and both are wo

[2020-10-27 19:55] jcustenborder commented on #150
The way files are selected by tasks isn't perfect because there is no way to synchronize between tasks that are on different machines. It basically uses  a `<hash of filename> % <total tasks> == task index` to figure out if the task should process it. Each task gets an index associated with it. It's not perfect but it gets you a pretty even distribution.

[2020-10-27 19:59] jcustenborder commented on #148
Which connector are you using? The JSON, CSV, etc?

[2020-10-27 21:01] jcustenborder commented on #147
@aaydgithub If you just want the file as bytes can you take a look at this branch. It has a connector to read the entire contents of the file as the message.

https://github.com/jcustenborder/kafka-connect-spooldir/tree/issue-135

This adds a new connector that will read the entire file and it will be the value of the message to kafka. https://github.com/jcustenborder/kafka-connect-spooldir/blob/i

[2020-11-03 13:22] candalay opened #152 "Spooldir Failed to flush, timed out while waiting for producer to flush outstanding"
Failed to flush, timed out while waiting for producer to flush outstanding 29861 messages
WorkerSourceTask{id=sender-1-0} Failed to commit offsets

I am receiving this error after 6-7 file. Is there way to make slow data transfer from A to B?

How it is possible to not receive this error?

thanks,

[2020-11-03 14:24] jcustenborder commented on #152
@candalay This message isn't from the connector. It's from the connect framework. This happens when it's waiting for data to flush and it's timed out. You could try tweaking your connect worker settings. I'd look at increasing [batch.size](https://docs.confluent.io/current/installation/configuration/producer-configs.html#batch.size), [linger.ms](https://docs.confluent.io/current/installation/confi

[2020-11-03 14:24] #152 closed

[2020-11-08 19:05] candalay opened #153 "When broker connection is lost how spooldir make sure to continue from where it left sending?"

[2020-11-21 17:25] JoeRakhimov opened #154 "Question: how to limit reading 100 rows of CSV every 5 seconds?"
I have CSV data. I want to simulate such a data stream: the consumer receives only 100 items every 5 seconds. I tried these properties:
[code]
However, data being processed fast. I think 'empty.poll.wait.ms' is used in another use case. My question is which property I need to set to simulate such behavior?

[2020-11-21 17:38] jcustenborder commented on #154
The connect framework isn't really designed to do that. It's there to create a continuous flow of data. If I were going to attempt this I would implement a [Single Message Transform](https://kafka.apache.org/documentation/#connect_transforms). These get called for each record that is returned from this record. You would implement your rate limiting logic there. You could use something like the [Gu

[2020-11-21 17:38] #154 closed

[2020-11-21 17:38] #135 closed

[2020-11-21 17:38] #150 closed

[2020-11-21 17:38] #136 closed

[2020-12-07 16:49] aeldaly-tc commented on #115
We are building an internal service to allow any of our internal services to place documents into Elastic Search. We are heavily leveraging schema-registry for formatting the fields to their correct type in ES.

To process creating documents in real-time, we have a main topic, configured to hook into schema-registry and uses the RecordNameStrategy. All systems produce to that one topic, and as lon

[2020-12-07 18:51] jcustenborder commented on #115
@aeldaly-tc The spooldir csv connector is designed to search a directory for files that match a certain pattern. In order to pull off what you're trying to do you'd need to run more than one connector. That connector would search for a particular pattern. You could still use the RecordNameStrategy but each connector will only support a single schema at a time.

[2020-12-09 00:12] Hubbitus opened #156 "ClassNotFoundException: com.fasterxml.jackson.annotation.JsonKey due to the old jackson-annotations-2.9.0"
In ksqlDB (embedded connect) I've do:

[code]

[code]

It looks like updating dependency to [jackson-annotations-2.12.0.jar](https://repo1.maven.org/maven2/com/fasterxml/jackson/core/jackson-annotations/2.12.0/jackson-annotations-2.12.0.jar) solves the problem.

[2020-12-09 08:56] Hubbitus opened #157 "DataException: "'value.schema' must be set to a valid schema" after correct schema generation"
ksqldb SQL:
[code]

Log:
[code]

Please note in the log what CSV schema correctly generated in `AbstractSpoolDirSourceConnector`, but for some reason is not used then in `WorkerSourceTask`

kafka-connect-spooldir-2.0.54.jar

[2020-12-11 10:29] Fobhep opened #158 "Issue with CSVSchemaGenerator"
Hi - I tried to deploy the CSV Spooldir-Connector with auto schema generation in version 2.0.54
Does anybody have an idea what is possibly going wrong here?

[code]

[2020-12-12 12:41] ghost opened #159 "Scanning recursive directories"
I have set up the spooldir connector on a unix machine and it seems to work well. I would like to know if there are a few things that can be done with spooldir

1. I want to create multiple directories inside the spooldir-scanning file path, create files of the provided format inside them and scan those too. How do i accomplish this?

2. I do not want the source files to move to different director

[2020-12-21 23:27] dhirajsurve opened #160 "log compact configuration support to retain data in topic"
I am trying to create reference topic to retain value using log compact configuration  but with  Connector its not working as expected  .
--property  print.key=true --property key.separator=:

sample What I want to achieve
Create topic with log compactor setting
kafka-topics --create --zookeeper zookeeper:2181 --topic latest-product-price --replication-factor 1 --partitions 1 --config "cleanup.pol

[2020-12-22 00:19] jcustenborder commented on #160
@dhirajsurve Are you sure you have the correct connector? This connector does not natively support SFTP.

[2020-12-22 04:24] dhirajsurve commented on #160
Here is the connector definition also not that ita customised for sftp
Connector Defination  :
apiVersion: kafka.strimzi.io/v1alpha1
kind: KafkaConnector
metadata:
  name: cgf-ref-apn-sftp-source
  namespace: cgf
  labels:
    strimzi.io/cluster: cgf-ref-apn-connect
spec:
  class: com.github.jcustenborder.kafka.connect.spooldir.SftpCsvSourceConnector
  tasksMax: 1
  config:
    deque.topic: "conne

[2020-12-22 15:16] jcustenborder commented on #160
I don't know how to help you. I have not written a SFTP connector. Where did you download com.github.jcustenborder.kafka.connect.spooldir.SftpCsvSourceConnector? This project has com.github.jcustenborder.kafka.connect.spooldir.CsvSourceConnector which is used for working against filesystems like NFS, CIFS, or a local file system.

[2020-12-28 09:47] fjahangiri commented on #158
hi, I have the same issue in version 2.0.54
I use confluentinc/cp-kafka-connect:5.5.1 image and install with confluent-hub
`confluent-hub install --no-prompt jcustenborder/kafka-connect-spooldir:latest`

[2020-12-28 16:33] jcustenborder commented on #158
Do all of the workers in your cluster have the connector installed?

[2020-12-28 17:03] fjahangiri commented on #158
yes, by the way, It works fine with 2.0.46 and other versions.
`
java.lang.NoClassDefFoundError: Could not initialize class com.github.jcustenborder.kafka.connect.spooldir.CsvSchemaGenerator
`
and  also with defined schema, I got this exception :
`
java.lang.NoClassDefFoundError: com/fasterxml/jackson/annotation/JsonKey
`

[2020-12-29 09:44] arijitmazumdar commented on #156
I have faced the similar challenge while implementing CSV file source from control center.

[2020-12-29 17:07] jcustenborder commented on #156
Which version of Kafka Connect are you using?

[2020-12-30 10:18] Hubbitus commented on #156
I use ksqldb embedded kafka connect. How I could obtain its version?

[2020-12-30 16:41] jcustenborder commented on #156
Does the same issue happen with regular connect?

[2020-12-30 21:38] dhirajsurve commented on #160
I had customized to connect using sftp . Below thing works fine
In Addition to this if we create test topic with same configuration and add producer with --property parse.key=true then it works properly .

kafka-topics --create --zookeeper zookeeper:2181 --topic latest-product-price --replication-factor 1 --partitions 1 --config "cleanup.policy=compact" --config "delete.retention.ms=100" --config

[2020-12-30 21:38] #160 closed

[2020-12-31 03:06] arijitmazumdar commented on #156
Yes, atleast I am getting this issue with connect with confluent 6.0.1.

[2021-01-06 22:09] SledgeHammer01 opened #162 "Plugin throwing exception with Kafka 2.7.0"
Windows 10 Pro x64
Java Oracle SDK 11.0.9
Kafka 2.13-2.70
jcustenborder-kafka-connect-spooldir-2.0.54

Properties file looks like:

[code]

The HeaderToKey transform is mine. It works with Kafka 2.6.0 / Spooldir 2.0.43, but I commented out all the transforms just to be sure that wasn't the issue. When I run the startup-connect.bat, I get an exception:

[code]

[2021-01-08 18:26] jcustenborder commented on #162
@SledgeHammer01, @Hubbitus, @arijitmazumdar can you give this version a try? [jcustenborder-kafka-connect-spooldir-2.0-SNAPSHOT.zip](https://github.com/jcustenborder/kafka-connect-spooldir/files/5788794/jcustenborder-kafka-connect-spooldir-2.0-SNAPSHOT.zip)

[2021-01-08 18:43] SledgeHammer01 commented on #162
Connect starts up now. I'll have to do more testing to know if it works though :).

[2021-01-11 08:59] Fobhep commented on #158
exactly the same here

[2021-01-12 22:21] ChhatralaNirmal commented on #126
Hi @SledgeHammer01 - Were you able to find a way to extract metadata info ( like file name) from headers and put it into separate field ? We have similar need. Appreciate your help and any suggestions.

[2021-01-12 22:29] ChhatralaNirmal commented on #107
Hi @jcustenborder - Is it possible to extract metadata field (file name) from headers field and add a new field in value to store file name with this enhancement ? We have a need to save file name as one of separate value field and send it to downstream system.
I tried to set metadata.location=FIELD and metadata.field=filename, but that isn't creating or saving the file.name value in separate fiel

[2021-01-14 15:19] jcustenborder opened #163 "Cleanup policy can leak buffers with extreme number of errored files."

[2021-01-15 10:54] armaankohli91 opened #164 "Skipping rows for header"
Hi

I understand csv.first.row.as.header marks the first row as header. But in a scenario where the csv has some file headers that I want to skip, I couldn't find any way to reach the actual header data.
I wish to keep schema.generation.enabled as true.
Though we have csv.skip.lines, it seems to be skipping the rows for reaching the data actually (not the header).

How do I skip n number of rows t

[2021-01-15 18:50] jcustenborder commented on #159
@Joe-Arul Item 2 can be done now. The main caviet you need to plan for is that if the connector restarts it will reimport all of the files. #1 could be added but isn't supported at the moment.

[2021-01-15 18:56] #147 closed

[2021-01-15 19:32] #128 closed

[2021-01-15 19:53] #162 closed

[2021-01-15 19:53] #156 closed

[2021-01-15 19:53] #149 closed

[2021-01-15 19:53] #157 closed

[2021-01-15 19:53] #163 closed

[2021-01-19 17:35] jcustenborder commented on #164
Hi @armaankohli91,

Off hand I'm not completely sure. This connector wraps opencsv for the csv parsing functionality. The value you specify for `csv.skip.lines` gets passed to [this method](http://opencsv.sourceforge.net/apidocs/com/opencsv/CSVReaderBuilder.html#withSkipLines-int-). Can you run the connector with trace logging enabled and upload the logs?

[code]

[2021-01-19 22:26] #122 closed

[2021-01-19 22:27] #148 closed

[2021-01-19 22:37] #138 closed

[2021-01-19 22:58] #116 closed

[2021-01-19 23:02] #133 closed

[2021-01-19 23:02] #164 closed

[2021-01-19 23:05] jcustenborder commented on #107
@ChhatralaNirmal Give this example a look. This will work with the 2.0.58 version and later of spooldir. https://jcustenborder.github.io/kafka-connect-documentation/projects/kafka-connect-transform-common/transformations/examples/HeaderToField.spooldir.html

[2021-01-19 23:05] #107 closed

[2021-01-20 01:08] jcustenborder commented on #158
This was corrected in [2.0.58](https://github.com/jcustenborder/kafka-connect-spooldir/releases/tag/2.0.58). Can you test and reopen if you still see issues.

[2021-01-20 01:08] #158 closed

[2021-01-20 01:08] jcustenborder opened #167 "External Schema Support"

[2021-01-20 01:09] jcustenborder opened #168 "JSON Schema Support"

[2021-01-20 04:27] armaankohli91 commented on #164
Great. Fix #166 should be able to add this feature.

[2021-01-20 17:20] jcustenborder opened #169 "Split core functionality of spooldir out to it's own library deployed to Maven."

[2021-01-27 23:45] SachinKSunny commented on #26
Hey @jcustenborder, I used confluent-hub install jcustenborder/kafka-connect-spooldir:latest and I'm facing the error code 500. Can you help me understand why this might be happening? I installed JDBCConnector similarly and it shows up when I send a GET request to localhost:8083/connector-plugins but not the SpoolDirConnector.

[2021-01-27 23:54] jcustenborder commented on #26
@SachinKSunny You need to make sure that all of the workers in your connect cluster get the plugin installed. You need to make sure that you restart all of the workers after installing a plugin. Verify that the plugin.path of your config matches where the connectors are installed. For example when I do this in docker I set my [plugin.path](https://github.com/jcustenborder/kafka-connect-all/blob/ma

[2021-01-28 00:10] SachinKSunny commented on #26
After much digging, I figured out what the issue was. I was setting the JAVA_HOME variable to point to JAVA_8(To fix some errors with Pentaho Data Integration) in my bash_profile. Once I removed that and was using the default JDK11, I was able to see the Spooldir connector plugins.

Leaving this comment here in case someone else runs into a similar issue or is a complete noob like me.

@jcustenbor

[2021-01-28 01:41] jcustenborder commented on #26
It should work with JDK 11. That is what I use myself. If you have issues please open an issue.

[2021-02-03 16:22] jcustenborder opened #170 "Building with jdk 11 causes plugin to not load with jdk 8."

[2021-02-03 16:26] jcustenborder opened #171 "Building with jdk 11 causes plugin to not load with jdk 8."

[2021-02-03 22:08] #100 closed

[2021-02-03 22:08] #170 closed

[2021-02-09 04:45] jcustenborder opened #173 "Plugin should suppport multiple versions of the Confluent Platform"

[2021-02-09 04:46] jcustenborder opened #174 "NPE thrown when using schema generation and a blank input file"

[2021-02-10 21:39] #173 closed

[2021-03-17 06:03] bsdis commented on #159
hi, this is very much in line with what i need also.
How big a task would it be to add support for 1? (recursive handlng, including an ignore list of directories to be ignored, functionality  )
How big a task would it be to add support for 2 - such that if connection is lost, only not-sent-yet files will be imported (such that we do not re-send old files?

[2021-03-22 18:00] Fermi-4 commented on #131
Bump

[2021-03-26 17:09] jcustenborder opened #176 "SpoolDirLineDelimitedSourceTask NPE on recordOffset()"

[2021-03-26 17:44] #176 closed

[2021-04-21 14:42] lkaupp opened #178 "Unable to Build with Maven"
Try to follow your tutorial on:
https://www.confluent.de/blog/ksql-in-action-enriching-csv-events-with-data-from-rdbms-into-AWS/

checking out the repository (master and latest version 2.0.69) lead to the following error:
![image](https://user-images.githubusercontent.com/26430608/115571788-9f4cdd00-a2bf-11eb-973f-b39ec4e6d82f.png)

Furthermore downloaded the mentioned missing jar from:
`https://d

[2021-04-21 14:49] jcustenborder commented on #178
@lkaupp This is a new handy feature of [Maven 3.8.1+](https://maven.apache.org/docs/3.8.1/release-notes.html#how-to-fix-when-i-get-a-http-repository-blocked). There are already built versions out [there](https://www.confluent.io/hub/jcustenborder/kafka-connect-spooldir).  I'd start by just downloading it directly from Confluent. Please feel free to reopen if you have any questions.

Created an iss

[2021-04-21 14:49] #178 closed

[2021-04-21 14:55] lkaupp commented on #178
Anyhow is the avro schema creator / generation accessible from outside of the compiled version? That is the most interesting feature that i want to use without configuring everything manually.

[2021-04-21 15:00] jcustenborder commented on #178
haha I have to admit. It's a feature that I hate. The idea behind it is to get you something that you can edit to a better schema. You just need to add things to the kafka classpath and run it. So use something like this. Here is an example in the [documentation](https://jcustenborder.github.io/kafka-connect-documentation/projects/kafka-connect-spooldir/sources/SpoolDirCsvSourceConnector.html).

[

[2021-04-21 15:14] lkaupp commented on #178
i understand. I build something similiar two years ago for a research project in order to convert logs to a valid parseable json-schema with its datatypes for the usage in apache flink. I know how basic it is and how much you have to tweak in the end, but if you work with industrial sized log files in research you do not want to create a schema by hand with 200+ columns on each csv you interfere 😃

[2021-04-23 11:14] lkaupp opened #179 "plugin.properties invalid Schema - with SchemaGenerator"
Hi @jcustenborder me again. Got everything setup so far but now i got an invalid schema exception with this config (Config is C&P from your SchemaGenerator, only replaced string to AVRO configuration):
[code]

with this exception:
'contains no connector type'

i try to start 'connect-standalone worker.properiest above.config.properites'.
Here is my worker.properties:
[code]

[2021-04-23 12:49] lkaupp commented on #179
found the issue. it is not class anymore its 'connector.class'... lovely inconsistency

[2021-04-23 12:49] #179 closed

[2021-04-23 12:49] jcustenborder commented on #179
should that be `connector.class` instead of `class`

[2021-04-23 12:51] jcustenborder commented on #179
oh hah. good timing. Was that the output directly from the generator? I don't see where the generator is setting `connector.class`

[2021-04-23 13:42] lkaupp commented on #179
Nah it is a collection of different tutorials that i tried to combine and in the same time update to the latest version. I know u have plenty of things to do, and confluent for sure favor their cloud version, but its hard to setup everything in place on premise with the current version of documentation. You have to think a lot between the lines. Thankfully you are such a great person and answered

[2021-04-29 15:57] bitsofinfo opened #180 "feature: new metadata header "file.parent.dir.name""
Would like to be able to easily have a header for the file's parent directory name

`file.parent.dir.name`

[2021-04-29 17:21] #180 closed

[2021-04-29 20:38] bitsofinfo commented on #159
@jcustenborder @Joe-Arul how about something like this as a basic stab at it? https://github.com/bitsofinfo/kafka-connect-spooldir/commit/6533f78834a92258184ad8a90247e1ab278a64ae

[2021-04-29 20:40] jcustenborder commented on #159
@bitsofinfo The main concern I've had with recursive support is how to handle the cleanup policies. We'd need to address it there as well.

[2021-04-29 20:47] bitsofinfo commented on #159
so how about `files.walk.recursively=true` the entire structure from `input.path` -> `matched file` would be copied to `error/finished` just like things are today. Then if you have `files.walk.recursively.retain.walked.dirs=true (default false)` that intermediary structure would be left as is within `input.path`, the matched files would be moved, just the intermediary dirs would remain.

[2021-04-29 20:48] jcustenborder commented on #159
You'd really need to copy the path structure. For example if my input directory looks like this:
[code]
this would get written to
[code]
That could be a problem.

[2021-04-29 20:49] bitsofinfo commented on #159
yes thats what im saying in the latter comment.

[2021-04-29 20:51] jcustenborder commented on #159
ok. on the same page now. Assuming we do this it would work.

[2021-04-29 21:05] bitsofinfo commented on #159
assuming this `AbstractCleanUpPolicy` will come into play and `InputFile` might need an attr to indicate its "parentdirs" relative from `input.path`

[2021-04-29 21:07] jcustenborder commented on #159
AbstractCleanupPolicy is created based on a [config](https://github.com/jcustenborder/kafka-connect-spooldir/blob/master/src/main/java/com/github/jcustenborder/kafka/connect/spooldir/AbstractCleanUpPolicy.java#L41) so we'd just need to refactor them to pass along the config.

[2021-04-29 21:10] bitsofinfo commented on #159
yes, I think those behaviors still apply that are in there, its just that if the `files.walk.recursively` option is enabled AND `InputFile.<attrTBDthatIndicatesParentPath>` is present, it needs to take those dirs into account for the operations it does

[2021-04-29 21:11] jcustenborder commented on #159
We'd need to determine the relative path of the input path and copy that across to the finished path.

[2021-04-29 21:13] bitsofinfo commented on #159
yup, figured i could handle that in `InputFileDequeue.Deque` and just set it during construction of `InputFile` as a config addition or another arg.

[2021-04-30 20:46] bitsofinfo commented on #159
@jcustenborder i added an implementation here: https://github.com/jcustenborder/kafka-connect-spooldir/pull/182 added some tests + some local testing seems to work fine. all tests passed, not sure why the merge conflict on those 2 files as my pull upstream had no conflicts.

[2021-05-18 18:15] jcustenborder opened #183 "remove shaded comments"

[2021-05-18 18:40] jcustenborder opened #184 "Schema Less Json Connector talks about using a supplied schema."

[2021-06-16 16:05] mroiter-larus opened #185 "Unable to write JSON schemaless events"
Hi @jcustenborder,

I’m having some trouble trying to use SMT functions with `SpoolDirSchemaLessJsonSourceConnector`.
I would like to simply ingest some schemaless JSON events from a file into a topic, applying the ReplaceField SMT function. Here is the connector configuration:

[code]

my sample source file is populated as follow:

[code]

Despite i disabled the schemas for both the key and the v

[2021-06-16 16:14] jcustenborder commented on #185
Hi @mroiter-larus,

Kafka Connect is a little weird. It has it's own type system that is independent to how the data is serialized. For example a Struct is basically a row like structure. In Json this would be an object like your examples. In Avro it's a Record. So basically what is happening is this connector is using jackson to stream the file breaking by each object boundary. It hands this off

[2021-06-17 16:46] mroiter-larus commented on #185
Hi @jcustenborder ,

Thanks a lot for your answer!

I tried the first approach you suggested (using FromJson). Actually it works, but doing so the JSON events, that were initially schemaless, are treated as they had schema (and i think this exactly what is expected by the FromJson transformation). I mean, the RenameField step is still running the `applyWithSchema` method and i would like to preven

[2021-06-17 16:50] jcustenborder commented on #185
Off the top of my head I'm not sure. I don't know how much I would worry about it being schemaless or with schema. The converter could be Apache Kafka Json Converter which would remove the schema or you can use the JsonSchemaConverter I wrote which will attach the schema as a header. It's in the same project. That would give you json in your topic.

https://github.com/jcustenborder/kafka-connect-j

[2021-07-29 16:13] jcustenborder opened #187 "NPE trying to determine field names with a blank file"
[code]

[2021-08-24 16:39] MaxSamsonov opened #189 "CSV connector's task hanged in infinite loop after meeting record it can't process"
Hello!

We're testing SpoolDirCsvSourceConnector and faced following condition:

1. Part of file was processed (2000 rows)
2. Error from log:
[2021-08-24 18:55:46,547] ERROR Exception encountered processing line 5692 of /connect_integrations/848_quality/DEV/SWAP/SWAP-2021_06_0001_0.csv. (com.github.jcustenborder.kafka.connect.spooldir.AbstractSourceTask:265)
java.io.IOException: Unterminated quote

[2021-09-09 14:57] chipps opened #190 "Incorrect skipping of records when reprocessing file"
The CSV connector is incorrectly under-skipping records when reprocessing a file.
Assume there is a CSV with 1 header record and 10 data records named EMPS.csv
When the connector processes the file the first time,  10 records are properly inserted into the topic.
When the same file is copied back for reprocessing, in theory it should NOT add any more records but it inserts a single record, the 10t

[2021-09-22 09:21] Bohatman commented on #190
also happen when you setting Skip line if set more than 1 it re-process more than last row

[2021-10-20 20:30] edgrt opened #192 "CsvSpoolDir error out"
Hi,

I am new to confluent/kafka. I was following this tutorial.
https://docs.confluent.io/kafka-connect-spooldir/current/overview.html.

when I checked the connector status I get the below message.

**confluent local services connect connector status CsvSpoolDir**

The local commands are intended for a single-node development environment only,
NOT for production usage. https://docs.confluent.io/c

[2021-11-09 17:19] fbvdka opened #193 "How to retrieve header infos in a Stream with KSQLDB?"
You mention that aach of the connectors in this plugin emit the following headers for each record written to kafka.

- file.path - The absolute path to the file ingested.
- file.name - The name part of the file ingested.
- file.name.without.extension - The file name without the extension part of the file.
- file.last.modified - The last modified date of the file.
- file.length - The size of the fi

[2021-11-09 17:27] jcustenborder commented on #193
You would need to use a single message transform to copy the header to a field. I don’t believe ksql has header support.

[2021-11-09 17:45] fbvdka commented on #193
Thank you!
Actually, there is no header support in KSQLDB.
Hope it will available soon https://github.com/confluentinc/ksql/pull/8293

[2021-11-09 17:45] #193 closed

[2021-11-24 15:24] sachin-rajwade commented on #115
my connector config is

CREATE SOURCE CONNECTOR `the-spool-connector` WITH (
   "connector.class"='com.github.jcustenborder.kafka.connect.spooldir.SpoolDirCsvSourceConnector',
   "topic"='DES-product_inventory',
   "input.path"='/data/unprocessed/ncs/product_inventory',
   "finished.path"='/data/processed/ncs/product_inventory',
   "error.path"='/data/errored/ncs/product_inventory',
   "input.file

[2021-11-24 17:46] jcustenborder commented on #115
That should work fine. The full call stack would help figure out why it failed.

[2021-11-25 02:57] sachin-rajwade commented on #115
Can i use my schema while sending the csv to kafka ? eg XXX-value in schema registry

[2021-12-01 05:47] sachin-rajwade commented on #148
I am also seeing the same problem we are the using the CSV spooldir

[2021-12-01 05:48] jcustenborder commented on #148
Are you all using unique file names?

[2021-12-01 05:51] sachin-rajwade commented on #148
yes

[2021-12-01 05:52] sachin-rajwade commented on #148
No files matching input.file.pattern were found in /data/unprocessed/ncs/product_margin (com.github.jcustenborder.kafka.connect.spooldir.InputFileDequeue:63)
kafka-connect               | [2021-12-01 05:51:53,765] INFO [NCS_FS_PRODUCT_MARGIN_SOURCE|task-1] No files matching input.file.pattern were found in /data/unprocessed/ncs/product_margin (com.github.jcustenborder.kafka.connect.spooldir.InputF

[2021-12-01 14:07] jcustenborder commented on #148
What are you showing me here? This is normal operation. The task will return No Files matching input.file.pattern if the directory is empty. Do you have a way to reproduce this behavior? I'd be happy to look further given a little more info.

[2021-12-04 01:05] cande1gut commented on #192
@edgrt You need a CSV file already in the input folder before starting the connector, so the schema is read and sent through the topic

[2021-12-06 22:41] cande1gut opened #194 "CSV files' name problem"
It looks like the parser with these configs can't properly read CSV files that have an underscore in their name:

[code]

I tried the same file with the name in camel case and it works.

[2021-12-06 22:46] cande1gut commented on #189
@MaxSamsonov I had the same problem, what worked for me was to change the parser to RFC 4180 and change the file's name convention to camel case.

[2021-12-16 16:33] #159 closed

[2021-12-16 16:33] #183 closed

[2021-12-16 16:33] #184 closed

[2021-12-23 02:21] sachin-rajwade opened #196 "java.lang.NoSuchMethodError: 'void com.google.common.base.Preconditions.checkStat"
(com.github.jcustenborder.kafka.connect.spooldir.SpoolDirCsvSourceConnectorConfig:354)
kafka-connect               | [2021-12-23 02:18:29,369] ERROR [NCS_FS_PRODUCT_MARGIN_SOURCE|worker] WorkerConnector{id=NCS_FS_PRODUCT_MARGIN_SOURCE} Error while starting connector (org.apache.kafka.connect.runtime.WorkerConnector:193)
kafka-connect               | java.lang.NoSuchMethodError: 'void com.google.co

[2022-01-12 08:14] dahal4 opened #198 "While fetching JSON data , shows integer value to null"
Hi, i tried to fetch data from json file through "com.github.jcustenborder.kafka.connect.spooldir.SpoolDirJsonSourceConnector".

the problem I encountered is that the integer value and float value are displayed null in the topic other than that is fine, I mean string is shown in the topic.
For your reference :
config used :

    {
        "name": "source_json_file_source_connector10",
        "con

[2022-01-14 05:43] dahal4 commented on #198
don't know why but by default while not passing value.schema from config then all the attributes are set to STRING but the integer value is not converted to STRING so I got a null value in that case.
A solution that I found out is passing key and value schema through config and in integer we can pass INT16,INT32,INT64 etc and in FLOAT value we can pass FLOAT16,FLOAT32,FLOAT64 etc.

     "key.schem

[2022-01-14 13:58] jcustenborder commented on #198
Can you run the connector with trace logging and this file? If it's having trouble with the conversion it might output why

[2022-01-26 11:45] cameron commented on #12
@jcustenborder, I'm 100% abusing your open source presence here to ask a selfish question, so feel free to ignore me: why does it make sense that the JsonConverter would be connected to the OP's error? I'm getting that error in one connector (debezium's, not yours), and not in another, and am super stumped as to why, b/c they're created with the same script and only a few minor config values vary

[2022-01-26 14:14] jcustenborder commented on #12
This one is really old and I hope I remember the context fully. I think this was in the early days before connect had support for plugin path isolation. During these times you would just copy the plugin and it's dependencies to the classpath of the connect worker. This made maintaining connectors very difficult and if I remember correctly *I did not ship guava or jackson* and tried to use the vers

[2022-01-26 15:24] cameron commented on #12
What expedience! You beat AWS Support to the punch... I'm still stumped, but thanks for getting back to me!

[2022-01-28 21:05] ronb722 opened #199 "Question Is it possible to create an SMT that will indicate the number of records in the file"
Hi. I am using the SpoolDirCsvSourceConnector to place records from a file  onto a topic. I have a JAVA app that will consume these records. I'm looking for a way to pass the number of records that were on the file to the application, so that the application will know when it has finished processing all the records that came in on the file
Thanks

[2022-01-31 14:14] tmanipra commented on #61
Hi, I have complied the latest code from Repo using Maven but still I'm getting

java.lang.NoClassDefFoundError: org/apache/kafka/connect/header/Header

Could you please advise? Thanks

[2022-01-31 14:15] jcustenborder commented on #61
@tmanipra  What version of Apache Kafka are you running this with?

[2022-01-31 14:25] tmanipra commented on #61
Apache kafka Version - 2.11-2.3.2

I'm trying to integrate Spooldir with Cloudera Kafka using manual installation without Confluent.

So, I have downloaded Zip File from Confluent and have moved to Linux Env. Then, Updated the connect-standalone.sh for plugin.path with Spooldir Lib path.

Upon initiating connect-standalone with CSVExample.properties(Updated with Topic, Input path, Processed path e

[2022-01-31 14:40] jcustenborder commented on #61
Disclaimer I do work for Confluent but this plugin is not dependent upon anything from Confluent. Are you editing connect-standalone.sh? If so that could be part of your problem. `plugin.path` is configured in connect-standalone.properties. You should treat `connect-standalone.sh` and the stuff installed by cloudera manager as readonly. (Used to work for Cloudera as well)

`plugin.path` should poi

[2022-02-23 15:20] acamillo opened #200 "Could not parse <field> to 'Date'"
Hi,
I am using v2.0.62 of the library with Kafka connect 6.1.0.

I am trying to parse  CSV with values as:
`abcd, 2022-01-10T23:09:55.000Z, abcdef, ....`

Using this schema
[code]

Connector creation and configuration:
[code]

When running I get the following exception:
[code]
Any idea what could be the cause of the issue?
Thank you.

[2022-02-23 15:24] jcustenborder commented on #200
@acamillo Does your csv have a header? I'm wondering if it's actually trying to parse `Time` with that date format.

[2022-02-23 15:26] acamillo commented on #200
@jcustenborder yes it does have header. However as by recommendation in various blogs I thought to force the schema myself

[2022-02-23 15:28] jcustenborder commented on #200
haha no please use the schema.

Try setting `"csv.first.row.as.header":"true"` in your config.

[2022-02-23 15:29] acamillo commented on #200
@jcustenborder
yes, that solved the problem. It was actually trying to parse the header line assuming it to be a normal data row.

Thanks for the super fast feedback.

If you don't mind taking a suggestion. The problem would have been much easier to spot (for me) if the exception output did contain the offending data row, that triggered the exception. Maybe in a future release ?

[2022-02-25 08:28] sachin-rajwade opened #201 "Continious logs coming in kafka connect logs"
No files matching input.file.pattern were found in /data/unprocessed/kdg/order_data

continious logs are coming when no files exist in the unprocessed folder. Please help

[2022-02-25 14:18] jcustenborder commented on #201
@sachin-rajwade It would help if you posted what those log messages are. This connector is designed to run continuously. Meaning it will continue to check the directory of `input.path` after it has processed all of the files in the folder. If no files are found that match the input pattern, it will check again and again.

[2022-02-27 07:11] sachin-rajwade commented on #201
"[2022-02-27 07:10:14,994] INFO [NCS_FS_PRODUCT_MARGIN_FILE_SOURCE_CONNECTOR|task-2] No files matching input.file.pattern were found in /data/unprocessed/ncs/product_margin (com.github.jcustenborder.kafka.connect.spooldir.InputFileDequeue:63)"

The above comes continuously and what happens is that we are missing errors from other connectors.

[2022-02-27 07:28] sachin-rajwade commented on #148
Even thought its normal. I have six to seven file connectors and its hogs the kafka-connect logs and miss errors coming

[2022-02-27 17:31] jcustenborder commented on #148
This is all handled by log4j under the hood. You can go change the log4j settings to accommodate to your liking. Changing the connector for this preference is not a possibility. You can increase the threshold for that logger to filter it out.

Try adding this to your logging config. Most likely `connect-log4j.properties`

[code]

[2022-03-30 11:02] sidbose87 commented on #190
I am figuring this out as well, I am not a pro, but for some reason. Even when I changed the topic name and restart the connector, it is processing the 10th Record or for that matter for all files i push it is just loading last record in the topic. Any suggestions

[2022-07-05 21:19] elayaraja-kv opened #202 "schema.generation.value.name - not taking effect in the schema registry"
[spool-schema-value.txt](https://github.com/jcustenborder/kafka-connect-spooldir/files/9049765/spool-schema-value.txt)
I have given the value for this property "schema.generation.value.name": "nz.co.3es.example.customer.Value", and we have given the schema registry info in the worker level. However when I  look at the schema, still the namespace is default value as com.github.jcustenborder.kafka.c

[2022-08-03 19:31] pcasaretto opened #203 "NPE when specifying timestamp.field on a autogenerated schema"
Library version: 2.0.64

Connector configuration:

[code]

Relevant logs:

[code]

Could `valueSchema` be null [here](https://github.com/jcustenborder/kafka-connect-spooldir/blob/2.0.64/src/main/java/com/github/jcustenborder/kafka/connect/spooldir/AbstractSpoolDirSourceConnectorConfig.java#L157) given I'm auto generating a schema?

[2022-08-29 08:13] elayaraja-kv commented on #148
Thank you. Looks like we would like to implement the same in our docker environment. would be let us know correct env variable or JVMS argument?

[2022-10-17 15:15] jcustenborder commented on #201
@sachin-rajwade I would look at altering the logger level on `com.github.jcustenborder.kafka.connect.spooldir.InputFileDequeue` to `warn`. This will eliminate the log message.

[2022-10-17 15:15] #201 closed, assigned to nobody

[2022-11-04 09:38] talljhawkins opened #205 "InputFile split on non-regexable Windows File.Seperator"
Hi,
I was getting a regex error on windows with an input file path of e.g. "c:\\some path with a space\somemorepath\inputdirectoryname"  in the method getInputPathSubDirsToCleanup

I looked at the code and guessed that it was because the use of the File.Separator being used as a regex. String.split() cannot cope with non escaped backslashes as the regex (which is what File.Separator is on Windows

[2022-11-23 10:56] yesh11891 opened #206 "Relative file path is not retrieved properly"
Existing (InputFile.java):
Path relative = inputFile.toPath().relativize(inputPath.toPath());

Fix (InputFile.java):
Path relative = inputFile.toPath().relativize(inputPath.getParentFile().toPath());